/* ------------------------------------------------------
// Header
*/
.l-header {
  --header-height-max: 118;
  --header-height-min: 56;
  --logo-width-max: 251;
  --logo-width-min: 151;
  --logo-height: 40;
  --menu-button-width-max: 52;
  --menu-button-width-min: 32;
  --menu-button-height: 35;
  --menu-icon-height-max: 30;
  --menu-icon-height-min: 18;
  inline-size: stretch;
  position: relative;
  margin-block-end: clamp(
    calc((var(--header-height-max) * var(--rem)) * -1),
    calc((var(--header-height-min) * var(--ratio-dvi-min)) * -1),
    calc((var(--header-height-min) * var(--rem)) * -1)
  );
  z-index: var(--z-index-header);
  &__container {
    --spacing-gutter-max: 30;
    --spacing-gutter: calc(12 * var(--ratio-dvi-min)); 
    padding-inline: min(
      var(--spacing-gutter),
      calc(var(--spacing-gutter-max) * var(--rem))
    );
    margin-inline: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    block-size: clamp(
    calc(var(--header-height-min) * var(--rem)),
    calc(var(--header-height-min) * var(--ratio-dvi-min)),
    calc(var(--header-height-max) * var(--rem))
    );
  }
  &__logo-img {
    inline-size: min(
      calc(var(--logo-width-min) * var(--ratio-dvi-min)),
      calc(var(--logo-width-max) * var(--rem))
      );
    aspect-ratio: var(--logo-width-min) / var(--logo-height);
  }
  &__contents {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: calc(40 * var(--rem));
  }
  &__cta {
    display: none;
    @media (min-width: 1052px) {
      display: flex;
      column-gap: calc(22 * var(--rem));
    }
  }
  &__recruiting-link, &__entry-link {
    inline-size: calc(126 * var(--rem));
  }
  &__menu-button {
    font-family: var(--ft-fml-2);
    font-size: clamp(0.625rem, calc(0.5rem + 0.333vw), 0.75rem);
    color: var(--color-white-1);
    inline-size: min(
      calc(var(--menu-button-width-min) * var(--ratio-dvi-min)),
      calc(var(--menu-button-width-max) * var(--rem))
      );
    text-align: center;
    white-space: nowrap;
  }
  &__menu-icon {
    --outside-space-max: 6;
    --outside-space-min: 3;
    display: grid;
    align-items: center;
    inline-size: stretch;
    block-size: clamp(
      calc(var(--menu-icon-height-min) * var(--rem)),
      calc((var(--menu-icon-height-min)* var(--ratio-dvi-min))),
      calc(var(--menu-icon-height-max) * var(--rem))
    );
    position: relative;
    margin-block-end: clamp(
      calc(var(--outside-space-min) * var(--rem)),
      calc(var(--outside-space-min) * var(--ratio-dvi-min)),
      calc(var(--outside-space-max) * var(--rem))
    );
  }
  &__menu-bar {
    display: grid;
    justify-items: center;
    background-color: var(--color-white-1);
    inline-size: 100%;
    block-size: 2px;
    &::before,
    &::after {
      content: "";
      display: inline-block;
      block-size: 2px;
      inline-size: 100%;
      background-color: inherit;
      position: absolute;
    }
    &::before {
      inset-block-start: 0;
    }
    &::after {
      inset-block-end: 0;
    }
  }
}

.l-header.fade {
  /* 追従切り替えのアニメーション */
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  animation-name: fadeIn;
  animation-timing-function: var(--ease-out-expo);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.l-header:has(.l-header__menu-button.lower) {
  /* Change background color of lower page header. */
  background-color: var(--color-white-1);
}

.l-header__menu-button.lower {
  /* Change background colour of the menu button in the header of the lower page. */
  color: var(--color-black);
  & .l-header__menu-bar {
    background-color: var(--color-black);
  }
}

.l-header.fixed {
  /* Change position style on single page (excluding custom post) and entry and entry-thank page. */
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
}