@use "./../foundation/function" as *;

/* about-us
--------------------------- */
.l-lower-about-us-main {
  --container-size: 980;
  display: grid;
  justify-items: center;
}

/* staff
--------------------------- */
.l-lower-staff-main {
  --container-size: 980;
  display: grid;
  justify-items: center;
}