@use "./../foundation/function" as *;

/* about-us
--------------------------- */
.l-lower-about-us-main {
  --container-size: 980;
  display: grid;
  justify-items: center;
  margin-block-start: var(--header-height);
}

/* staff
--------------------------- */
.l-lower-staff-main {
  --container-size: 980;
  display: grid;
  justify-items: center;
  margin-block-start: var(--header-height);
}

/* staff-detail
--------------------------- */
.l-lower-staff-detail-main {
  --container-size: 980;
  display: grid;
  justify-items: center;
  margin-block-start: var(--header-height);
}

/* blog
--------------------------- */
.l-lower-blog-main {
  --container-size: 980;
  display: grid;
  justify-items: center;
  margin-block-start: var(--header-height);
}

/* blog-post
--------------------------- */
.l-lower-blog-post-main {
  --container-size: 980;
  margin-block-start: var(--header-height);
}

/* BENEFIT ページ
--------------------------- */
.l-lower-benefits-main {
  --container-size: 980;
  margin-block-start: var(--header-height);
}

/* CAREER ページ
--------------------------- */
.l-lower-career-main {
  --container-size: 980;
  margin-block-start: var(--header-height);
}

/* DETAILS ページ
--------------------------- */
.l-lower-details-main {
  --container-size: 980;
  margin-block-start: var(--header-height);
}


/* FAQ ページ
--------------------------- */
.l-lower-faq-main {
  --container-size: 980;
  margin-block-start: var(--header-height);
}