/* ------------------------------------------------------
// Staffページ
*/
.p-lower-staff {
  --container-size: 986;
  --padding-block-start-max: 130;
  --padding-block-end-max: 134;
  inline-size: min(
    calc(var(--container-size) * var(--rem)),
    calc(100% - var(--spacing-gutter) * 2)
  );
  margin-inline: auto;
  padding-block-start: clamp(
    var(--spacing-5),
    calc(var(--padding-block-start-max) * var(--ratio-dvi-max)),
    calc(var(--padding-block-start-max) * var(--rem))
  );
  padding-block-end: clamp(
    var(--spacing-5),
    calc(var(--padding-block-end-max) * var(--ratio-dvi-max)),
    calc(var(--padding-block-end-max) * var(--rem))
  );
  &__list {
    --item-size-max: 300;
    --column-gap-max: 43;
    --row-gap-max: 43;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(
        min(
          var(--item-size-max) * var(--rem), 100%
        ),
        calc(var(--item-size-max) * var(--rem))
      )
    );
    column-gap: clamp(
      var(--spacing-3),
      calc(var(--column-gap-max) * var(--ratio-dvi-max)),
      calc(var(--column-gap-max) * var(--rem))
    );
    row-gap: clamp(
      var(--spacing-4),
      calc(var(--row-gap-max) * var(--ratio-dvi-max)),
      calc(var(--row-gap-max) * var(--rem))
    );
    justify-content: center;
    align-items: center;
  }
  &__item {
    display: contents;
  }
  &__link {
    grid-template-rows: subgrid;
    grid-row: span 3;
  }
}