@use "./../../foundation/function" as *;

/* benefits
--------------------------- */
.p-benefits {
  --spacing-gutter: calc(17 * var(--fluid-ratio-min-container));
  padding-inline: var(--spacing-gutter);
  padding-block-start: clamp(
    calc(70 * var(--rem)),
    calc(70 * var(--fluid-ratio-min)),
    calc(120 * var(--rem))
  );
  container: benefits-container / inline-size;
  position: relative;
  &__title {
    position: relative;
    @container benefits-container (min-width: 1050px) {
      text-align: center;
    }
  }
  &__title-ja {
    position: absolute;
    left: 0;
    top: 50%;
    transform: transLateY(-50%);
    @container employee-container (min-width: 768px) {
      padding-inline-start: min(
        calc(242 * var(--rem)),
        calc(242 * var(--fluid-ratio-max-container))
      );
    }
    @container benefits-container (min-width: 1050px) {
      text-align: center;
      right: 0;
      margin-inline: auto;
      padding-inline-start: 0;
    }
  }
  &__description {
    @container employee-container (min-width: 768px) {
      padding-inline-start: min(
        calc(242 * var(--rem)),
        calc(242 * var(--fluid-ratio-max-container))
      );
    }
    @container benefits-container (min-width: 1050px) {
      inline-size: fit-content;
      margin-inline: auto;
    }
  }
  &__detail-wrap {
    margin-block-start: clamp(calc(50 * var(--rem)), calc(50 * var(--fluid-ratio-min)), calc(114 * var(--rem)));
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(430px, 100%), 1fr));
    gap: calc(36 * var(--fluid-ratio-min));
    align-items: center;
    @container benefits-container (min-width: 1050px) {
      gap: calc(94 * var(--rem));
    }
  }
  &__detail {
    justify-items: center;
    inline-size: stretch;
    position: relative;
    @container benefits-container (min-width: 1050px) {
      &:nth-child(1) {
        justify-items: end;
      }
      &:nth-child(2) {
        justify-items: start;
      }
    }
  }
  &__detail-link {
    display: block grid;
    gap: clamp(calc(28 * var(--rem)) , calc(28 * var(--fluid-ratio-min)), calc(36 * var(--rem)));
    inline-size: min(100%, calc(430 * var(--rem)));
    padding-block-start: calc((44 / 375) * 100cqi);
    position: relative;
    container: detail-container / inline-size;
    transition: scale 0.3s var(--ease-out-quad);
    @container benefits-container (min-width: 473px) {
      padding-block-start: calc(70 * var(--rem));
    }
    &::after {
      content: "";
      display: inline-block;
      inline-size: clamp(251 * var(--rem), calc((251 / 341 )* 100cqi), 100cqi);
      aspect-ratio: 1;
      background-color: var(--color-white-2);
      border-radius: 50%;
      position: absolute;
      inset-block-start: 0;
      inset-inline: 0;
      margin-inline: auto;
      z-index: var(--z-index-negative-layer);
      @container detail-container (min-width: 430px) {
        inline-size: 100cqi;
      }
    }
    &:hover {
      scale: 1.05;
    }
  }
  &__detail-figure {
    text-align: center;
    position: relative;
  }
  &__detail:nth-child(2) .p-benefits__detail-figure {
    padding-block-start: calc((18 / 341) * 100cqi);
  }
  &__detail-img {
    --img-width: 194;
    --img-height: 164;
    inline-size: max(calc(var(--img-width) * var(--rem)), (var(--img-width) / 341 )* 100cqi);
    aspect-ratio: var(--img-width) / var(--img-height);
    margin-inline: auto;
    @container detail-container (min-width: 430px) {
      --img-width: 327;
      --img-height: 277;
      inline-size: min(calc(var(--img-width) * var(--rem)), (var(--img-width) / 341 )* 100cqi);
    }
  }
  &__detail:nth-child(2) .p-benefits__detail-img {
    --img-width: 202;
    --img-height: 135;
    inline-size: max(calc(var(--img-width) * var(--rem)), (var(--img-width) / 341 )* 100cqi);
    aspect-ratio: var(--img-width) / var(--img-height);
    margin-inline: auto;
    @container detail-container (min-width: 430px) {
      --img-width: 344;
      --img-height: 230;
      inline-size: min(calc(var(--img-width) * var(--rem)), (var(--img-width) / 341 )* 100cqi);
    }
  }
  &__detail-caption {
    font-size: clamp(1.5rem, calc(1.324rem + 0.751vw), 2rem);
    font-weight: var(--fz-wt-bold);
    background-color: var(--color-sub);
    display: inline-block;
    padding-inline: calc(7 * var(--rem));
    margin-block-start: clamp(calc(20 * var(--rem)), calc(20 * var(--fluid-ratio-min)), calc(26 * var(--rem)));
    @container detail-container (min-width: 430px) {
      font-size: calc(var(--fz-xl-1) * var(--rem));
    }
  }
  &__detail:nth-child(2) .p-benefits__detail-caption {
    margin-block-start: clamp(calc(35 * var(--rem)), calc(35 * var(--fluid-ratio-min)), calc(49 * var(--rem)));
  }
  &__detail-text-vertical {
    font-family: var(--ft-fml-2);
    font-size: clamp(0.875rem, calc(0.655rem + 0.939vw), 1.5rem);
    letter-spacing: var(--letter-sg-sm);
    writing-mode: vertical-rl;
    position: absolute;
    inset-inline-start: -2%;
    inset-block-start: 16%;
    margin-inline-start: clamp(0rem, calc(-5.316rem + 22.68vw), 1.375rem);
    @container detail-container (min-width: 430px) {
      font-size: calc(var(--fz-lg-2) * var(--rem));
      inset-inline-start: -3%;
      inset-block-start: 4%;
      margin-inline-start: 0;
    }
  }
  &__detail:nth-child(2) .p-benefits__detail-text-vertical {
    inset-inline-start: 1%;
    inset-block-start: 16%;
    @container detail-container (min-width: 430px) {
      font-size: calc(var(--fz-lg-2) * var(--rem));
      inset-inline-start: -1%;
      inset-block-start: 4%;
    }
  }
  &__detail-button {
    position: absolute;
    inset-block-start: 47%;
    inset-inline-end: 17%;
    margin-block-start: clamp(0rem, calc(-5.316rem + 22.68vw), 1.375rem);
    @container detail-container (min-width: 430px) {
      --circle-button-width: 58;
      inset-block-start: 59%;
      inset-inline-end: 4%;
      margin-block-start: 0;
    }
  }
}