@use "./../../foundation/function" as *;

/* blog
--------------------------- */
.p-blog {
  --article-width: calc(452 * var(--rem));
  --column-gap: calc(52 * var(--rem));
  --spacing-gutter: calc(17 * var(--fluid-ratio-min-container));
  padding-inline: var(--spacing-gutter);
  background-color: var(--color-white-2);
  margin-block-start: clamp(
    calc(78 * var(--rem)),
    calc(78 * var(--fluid-ratio-min)),
    calc(107 * var(--rem))
  );
  position: relative;
  container: blog-container / inline-size;
  &__title-wrap {
    max-inline-size: calc((var(--article-width) * 2) + var(--column-gap));
    margin-inline: auto;
    @container blog-container (min-width: 1052px) {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
    }
  }
  &__title {
    position: relative;
  }
  &__title-en {
    @container blog-container (min-width: 1052px) {
      margin-inline-start: min(
        calc(-47 * var(--rem)),
        calc((-47 / 1440) * 100cqi)
      );
    }
  }
  &__title-ja {
    position: absolute;
    left: 0;
    top: 50%;
    transform: transLateY(-50%);
  }
  &__view-more_pc {
    display: none;
    @container blog-container (min-width: 1052px) {
      display: inline-block;
      justify-self: end;
      margin-inline-end: min(
        calc(20 * var(--rem)),
        calc(20 * var(--fluid-ratio-max))
      );
    }
  }
  &__description {
    max-inline-size: calc((var(--article-width) * 2) + var(--column-gap));
    margin-inline: auto;
  }
  &__article {
    max-inline-size: calc((var(--article-width) * 2) + var(--column-gap));
    margin-inline: auto;
    margin-block-start: clamp(
      calc(43 * var(--rem)),
      calc(43 * var(--fluid-ratio-min)),
      calc(60 * var(--rem))
    );
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--article-width), 100%), 1fr)
    );
    row-gap: clamp(
      calc(9 * var(--rem)),
      calc(9 * var(--fluid-ratio-min)),
      calc(23 * var(--rem))
    );
    column-gap: var(--column-gap);
  }
  &__detail {
    display: contents;
  }
  &__detail-link {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  &__detail-contents {
    order: 2;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto 1fr auto;
    grid-row: span 3;
    padding-block-start: clamp(
      calc(9 * var(--rem)),
      calc((9 / 375) * 100cqi),
      calc(20 * var(--rem))
    );
    padding-inline-end: clamp(
      calc(7 * var(--rem)),
      calc((7 / 375) * 100cqi),
      calc(23 * var(--rem))
    );
    padding-block-end: clamp(
      calc(5 * var(--rem)),
      calc((5 / 375) * 100cqi),
      calc(20 * var(--rem))
    );
    padding-inline-start: clamp(
      calc(18 * var(--rem)),
      calc((18 / 375) * 100cqi),
      calc(23 * var(--rem))
    );
    background-color: var(--color-white-1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  &__detail-contents > dl {
    display: contents;
  }
  &__detail-title {
    order: 2;
    font-size: clamp(0.875rem, calc(0.787rem + 0.376vw), 1.125rem);
    align-self: center;
  }
  &__detail-category {
    order: 1;
    font-size: clamp(0.75rem, calc(0.706rem + 0.188vw), 0.875rem);
    font-weight: var(--fz-wt-bold);
  }
  &__detail-category > dd {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: calc(4 * var(--rem));
    align-items: center;
    &::before {
      content: "";
      display: inline-block;
      background: url(../img/top/icon_category.png) center no-repeat;
      background-size: contain;
      inline-size: calc(12 * var(--rem));
      aspect-ratio: 12 / 14;
    }
  }
  &__detail-date {
    order: 3;
  }
  &__detail-date > dd > time {
    font-size: calc(var(--fz-sm-2) * var(--rem));
  }
  &__detail-img {
    inline-size: clamp(
      calc(121 * var(--rem)),
      (calc((121 / 375) * 100cqi)),
      calc(156 * var(--rem))
    );
    block-size: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    order: 1;
    grid-row: 1 / 4;
  }
  &__view-more_sp {
    margin-block-start: max(calc(52 * var(--rem)), calc(66 * var(--rem)));
    @container blog-container (min-width: 1052px) {
      display: none;
    }
  }
  &__view-more-link {
    display: inline grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: calc(13 * var(--rem));
  }
  &__view-more-text {
    font-family: var(--ft-fml-2);
  }
}
