@use "./../../foundation/function" as *;

/* cta
--------------------------- */
.p-cta {
  background-color: var(--color-white-2);
  background: url(../img/top/cta_sp.png) center no-repeat;
  background-size: cover;
  inline-size: 100%;
  aspect-ratio: 375 / 250;
  max-block-size: calc(488 * var(--rem));
  position: relative;
  container: cta-container / inline-size;
  @media (min-width: 1052px) {
    background: url(../img/top/cta_pc.png) center no-repeat;
    background-size: cover;
    aspect-ratio: 1440 / 488;
  }
  &__contents { 
    margin-inline: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 54%;
    inline-size: clamp(
      calc(343 * var(--rem)),
      calc((343 / 375) * 100cqi),
      calc(956 * var(--rem))
    );
    padding-block-start: clamp(
      calc(24 * var(--rem)),
      calc((24 / 375) * 100cqi),
      calc(50 * var(--rem))
    );
    padding-block-end: clamp(
      calc(29 * var(--rem)),
      calc((29 / 375) * 100cqi),
      calc(50 * var(--rem))
    );
    padding-inline: clamp(
      calc(24 * var(--rem)),
      calc((24 / 375) * 100cqi),
      calc(200 * var(--rem))
    );
    background-color: var(--color-white-1);
    border-radius: 20px;
    text-align: center;
    @container cta-container (min-width: 1052px) {
      top: 72%;
    }
  }
  &__message {
    font-size: clamp(0.875rem, calc(0.831rem + 0.188vw), 1rem);
    font-weight: var(--fz-wt-bold);
    line-height: var(--line-ht-lg);
    @container cta-container (min-width: 1052px) {
      line-height: unset;
    }
  }
  &__entry {
    margin-block-start: clamp(
      calc(24 * var(--rem)),
      calc(24 * var(--fluid-ratio-min)),
      calc(31 * var(--rem))
    );
  }
  &__entry-link {
    inline-size: clamp(
      calc(200 * var(--rem)),
      calc((200 / 375) * 100cqi),
      calc(556 * var(--rem))
    );
  }
}