@use "./../../foundation/function" as *;

/* employee
--------------------------- */
.p-employee {
  padding-block-start: clamp(
    calc(70 * var(--rem)),
    calc(70 * var(--fluid-ratio-min)),
    calc(120 * var(--rem))
  );
  container: employee-container / inline-size;
  position: relative;
  &__inner {
    max-inline-size: calc(var(--layout-width-max) * var(--rem));
    margin-inline: auto;
  }
  &__title {
    position: relative;
  }
  &__title-en {
    padding-inline-start: clamp(
      calc(17 * var(--rem)),
      calc(17 * var(--fluid-ratio-min-container)),
      calc(76 * var(--rem))
    );
  }
  &__title-ja {
    position: absolute;
    left: 0;
    top: 50%;
    transform: transLateY(-50%);
    padding-inline-start: clamp(
      calc(17 * var(--rem)),
      calc(17 * var(--fluid-ratio-min-container)),
      calc(242 * var(--rem))
    );
    @container employee-container (min-width: 768px) {
      padding-inline-start: min(
        calc(242 * var(--rem)),
        calc(242 * var(--fluid-ratio-max-container))
      );
    }
  }
  &__description {
    padding-inline-start: max(
      calc(17 * var(--rem)),
      calc(17 * var(--fluid-ratio-min-container))
    );
    padding-inline-end: calc(17 * var(--rem));
    @container employee-container (min-width: 768px) {
      padding-inline-start: min(
        calc(242 * var(--rem)),
        calc(242 * var(--fluid-ratio-max-container))
      );
    }
  }
  &__article {
    inline-size: calc(741 * var(--rem));
    margin-block-start: calc(50 * var(--rem));
    margin-inline-start: calc(26 * var(--rem));
    @container employee-container (min-width: 768px) {
      inline-size: calc(1198 * var(--rem));
      margin-inline-start: calc(242 * var(--rem));
    }
  }
  & .swiper.p-employee__slide {
    max-inline-size: calc((var(--layout-width-max) - 242) * 1px);
  }
  & .swiper-wrapper.p-employee__slide-wrap {
    transition-timing-function: ease-out;
  }
  &__slide_down {
    margin-block-start: clamp(
      calc(25 * var(--rem)),
      calc(25 * var(--fluid-ratio-min)),
      calc(36 * var(--rem))
    );
  }
  &__slide-link {
    display: grid;
    position: relative;
  }
  &__name {
    order: 4;
    font-weight: var(--fz-wt-bold);
    font-size: clamp(1.25rem, calc(1.162rem + 0.376vw), 1.5rem);
    margin-block-start: clamp(
      calc(14 * var(--rem)),
      calc(14 * var(--fluid-ratio-min)),
      calc(16 * var(--rem))
    );
  }
  &__data {
    order: 3;
    font-weight: var(--fz-wt-bold);
    font-size: clamp(0.75rem, calc(0.662rem + 0.376vw), 1rem);
    margin-block-start: clamp(
      calc(30 * var(--rem)),
      calc(30 * var(--fluid-ratio-min)),
      calc(34 * var(--rem))
    );
  }
  &__message {
    order: 2;
    font-weight: var(--fz-wt-bold);
    font-size: clamp(1rem, calc(0.912rem + 0.376vw), 1.25rem);
    position: absolute;
    bottom: 17%;
    & > span {
      background-color: var(--color-sub);
      display: block;
      padding: calc(4 * var(--rem));
      inline-size: max-content;
    }
    & > span + span {
      margin-block-start: calc(6 * var(--rem));
    }
  }
  &__img {
    --slide-img-width: 246;
    --slide-img-height: 311;
    --slide-img-width-pc: 300;
    --slide-img-height-pc: 379;
    order: 1;
    border-radius: 30px;
    aspect-ratio: var(--slide-img-width) / var(--slide-img-height);
    @container employee-container (min-width: 768px) {
      aspect-ratio: var(--slide-img-width-pc) / var(--slide-img-height-pc);
      max-inline-size: calc(300 * var(--rem));
    }
  }
  &__button-wrap {
    margin-block-start: clamp(
      calc(64 * var(--rem)),
      calc(64 * var(--fluid-ratio-min)),
      calc(80 * var(--rem))
    );
    position: relative;
    @container employee-container (max-width: 767px) {
      margin-inline: auto;
      gap: 0;
      padding: 0;
    }
    @container employee-container (max-width: 1024px) {
      margin-inline-start: auto;
    }
  }
  &__view-more {
    text-align: center;
  }
  &__slide-button-wrap {
    display: grid;
    grid-auto-flow: column;
    inline-size: fit-content;
    align-items: center;
    gap: calc(20 * var(--rem));
    position: absolute;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-end: min(calc(227 * var(--rem)),
    calc(227 * var(--fluid-ratio-max)));
    @container employee-container (max-width: 1051px) {
      display: none;
    }
  }
}
