@use "./../../foundation/function" as *;

/* fv
--------------------------- */
.p-fv {
  --fv-height: 667;
  --fv-height-pc: 823;
  container: fv-container / inline-size;
  position: relative;
  &__slide-wrap {
    position: relative;
  }
  &__slide-item {
    inline-size: 100%;
    position: absolute;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: fv-slide;
    opacity: 0;
  }

  @keyframes fv-slide {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  &__slide-item:nth-child(1) {
    animation-delay: -3s;
    & .p-fv__slide-img {
      object-position: 62% center;
    }
  }
  &__slide-item:nth-child(2) {
    animation-delay: 3s;
  }
  &__slide-img {
    inline-size: 100%;
    block-size: calc(var(--fv-height) * var(--fluid-ratio-min-container));
    max-block-size: calc(var(--fv-height-pc) * var(--rem));
  }
  &__message-large {
    font-family: var(--ft-fml-2);
    font-size: clamp(3rem, calc(0rem + 8vw), 6rem);
    line-height: var(--line-ht-sm);
    color: var(--color-white-1);
    padding-inline: var(--spacing-gutter);
    inline-size: stretch;
    position: absolute;
    inset-block-end: 20%;
    z-index: var(--z-index-base);
    @container fv-container (min-width: 768px) {
      --spacing-gutter: calc(66 * var(--fluid-ratio-max));
      padding-inline: var(--spacing-gutter);
      inset-block-end: 37%;
    }
  }
  &__message-small {
    font-size: clamp(0.75rem, calc(0rem + 2vw), 1.5rem);
    color: var(--color-white-1);
    background-color: var(--color-black);
    padding-block: clamp(
      calc(9 * var(--rem)),
      calc(9 * var(--fluid-ratio-min-container)),
      calc(17 * var(--rem))
    );
    padding-inline-start: clamp(
      calc(9 * var(--rem)),
      calc(12 * var(--fluid-ratio-min-container)),
      calc(66 * var(--rem))
    );
    padding-inline-end: clamp(
      calc(24 * var(--rem)),
      calc(24 * var(--fluid-ratio-min-container)),
      calc(66 * var(--rem))
    );
    position: absolute;
    inset-block-end: 12%;
    z-index: var(--z-index-base);
    clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
    @container fv-container (min-width: 768px) {
      --spacing-gutter: calc(66 * var(--fluid-ratio-max));
      padding-inline: var(--spacing-gutter);
      inset-block-end: 19%;
    }
  }
  &__news {
    --max-width: 1263;
    border: solid 1px var(--color-black);
    border-radius: 50px;
    background-color: var(--color-black);
    inline-size: stretch;
    margin-inline: var(--spacing-gutter);
    position: absolute;
    inset-block-end: 1%;
    z-index: var(--z-index-base);
    @container fv-container (min-width: 768px) {
      margin-inline-start: calc(72 * var(--fluid-ratio-max));
      margin-inline-end: calc(105 * var(--fluid-ratio-max));
      inset-block-end: 5%;
      max-inline-size: calc(var(--max-width) * var(--rem));
    }
  }
  &__news-link {
    display: block grid;
    grid-template-columns:
      clamp(
        calc(52 * var(--rem)),
        calc(52 * var(--fluid-ratio-min-container)),
        calc(186 * var(--rem))
      )
      1fr;
  }
  &__news-title {
    display: grid;
    place-items: center;
    font-family: var(--ft-fml-2);
    color: var(--color-white-1);
    font-size: clamp(0.625rem, calc(0.317rem + 1.315vw), 1.5rem);
  }
  &__news-post {
    line-height: var(--line-ht-sm);
    padding: calc(10 * var(--fluid-ratio-min-container));
    background-color: var(--color-white-1);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    @container fv-container (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      padding-block: min(
        calc(23 * var(--rem)),
        calc(23 * var(--fluid-ratio-max-container))
      );
      padding-inline-start: min(
        calc(90 * var(--rem)),
        calc(90 * var(--fluid-ratio-max-container))
      );
      padding-inline-end: min(
        calc(47 * var(--rem)),
        calc(47 * var(--fluid-ratio-max-container))
      );
    }
  }
  &__news-text {
    font-size: clamp(0.75rem, calc(0.662rem + 0.376vw), 1rem);
  }
  &__news-view-more {
    @container fv-container (min-width: 0) {
      display: none;
    }
    @container fv-container (min-width: 768px) {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      gap: calc(6 * var(--rem));
      font-family: var(--ft-fml-2);
      font-size: calc(14 * var(--rem));
      line-height: var(--line-ht-base);
      &::after {
        content: "";
        display: inline-block;
        inline-size: calc(7 * var(--rem));
        aspect-ratio: 1;
        border-block-start: 2px solid var(--color-black);
        border-inline-end: 2px solid var(--color-black);
        transform: rotate(45deg);
      }
    }
  }
}
