/* p-lower-fv
--------------------------- */
/* about-us
--------------------------- */
.p-lower-about-us-fv {
  background: url(../img/about-us/about-fv.png) center no-repeat;
  background-size: cover;
}

/* staff
--------------------------- */
.p-lower-staff-fv {
  background: url(../img/staff/staff-fv.png) center no-repeat;
  background-size: cover;
}

/* staff
--------------------------- */
.p-lower-blog-fv {
  background: url(../img/blog/blog-fv.png) center no-repeat;
  background-size: cover;
}

/* benefits
--------------------------- */
.p-lower-benefits-fv {
  background: url(../img/benefits/benefits-fv.png) center no-repeat;
  background-size: cover;
}