/* ------------------------------------------------------
// Lower fv
*/
.p-lower-about-us-fv {
  /* About-us */
  background: url(../img/about-us/about-fv.webp) center no-repeat;
  background-size: cover;
}

.p-lower-staff-fv {
  /* Staff */
  background: url(../img/staff/staff-fv.webp) center no-repeat;
  background-size: cover;
}

.p-lower-blog-fv {
  /* Blog */
  background: url(../img/blog/blog-fv.jpg) center no-repeat;
  background-size: cover;
}

.p-lower-benefits-fv {
  /* Benefits */
  background: url(../img/benefits/benefits-fv.jpg) center no-repeat;
  background-size: cover;
}

.p-lower-career-fv {
  /* Career */
  background: url(../img/career/career-fv.webp) center no-repeat;
  background-size: cover;
}

.p-lower-details-fv {
  /* Details */
  background: url(../img/details/details-fv.webp) center no-repeat;
  background-size: cover;
}

.p-lower-faq-fv {
  /* Faq */
  background: url(../img/faq/faq-fv.webp) center bottom no-repeat;
  background-size: cover;
}