/* 下層ページ fv
--------------------------- */
/* ABOUT-US
--------------------------- */
.p-lower-about-us-fv {
  background: url(../img/about-us/about-fv.png) center no-repeat;
  background-size: cover;
}


/* STAFF
--------------------------- */
.p-lower-staff-fv {
  background: url(../img/staff/staff-fv.png) center no-repeat;
  background-size: cover;
}


/* BLOG
--------------------------- */
.p-lower-blog-fv {
  background: url(../img/blog/blog-fv.png) center no-repeat;
  background-size: cover;
}


/* BENEFITS
--------------------------- */
.p-lower-benefits-fv {
  background: url(../img/benefits/benefits-fv.png) center no-repeat;
  background-size: cover;
}


/* CAREER
--------------------------- */
.p-lower-career-fv {
  background: url(../img/career/career-fv.png) center no-repeat;
  background-size: cover;
}


/* DETAILS
--------------------------- */
.p-lower-details-fv {
  background: url(../img/details/details-fv.png) center no-repeat;
  background-size: cover;
}


/* FAQ
--------------------------- */
.p-lower-faq-fv {
  background: url(../img/faq/faq-fv.png) center no-repeat;
  background-size: cover;
}