@charset "UTF-8";
/*--------------------------------*
 * foundation
 *--------------------------------*/
/* カスタム変数
--------------------------- */
:root {
  --layout-width-min: 375;
  --layout-width-max: 1440;
  --fluid-ratio-min: calc(1 / var(--layout-width-min) * 100dvi);
  --fluid-ratio-max: calc(1 / var(--layout-width-max) * 100dvi);
  --fluid-ratio-min-container: calc(1 / var(--layout-width-min) * 100cqi);
  --fluid-ratio-max-container: calc(1 / var(--layout-width-max) * 100cqi);
  --spacing-gutter: calc(12 * var(--fluid-ratio-min));
  --leading-trim: calc((1em - 1lh) / 2);
  --fz-base: 16;
  --fz-sm-1: 10;
  --fz-sm-2: 12;
  --fz-sm-3: 14;
  --fz-md: 18;
  --fz-lg-1: 20;
  --fz-lg-2: 24;
  --fz-xl-1: 32;
  --fz-xl-2: 36;
  --fz-xxl-1: 40;
  --fz-xxl-2: 48;
  --fz-xxl-3: 52;
  --rem: calc(1rem / var(--fz-base));
  --fz-wt-base: 400;
  --fz-wt-sm: ;
  --fz-wt-md: ;
  --fz-wt-lg: 700;
  --line-ht-base: 1.5;
  --line-ht-sm: 1.2;
  --line-ht-md: 1.8;
  --line-ht-lg: 2.5;
  --letter-sg-base: em;
  --letter-sg-sm: em;
  --letter-sg-md: em;
  --letter-sg-lg: em;
  --ft-fml-base: "Noto Sans JP", serif;
  --ft-fml-1: "Inter", sans-serif;
  --ft-fml-2: "Viga", serif;
  --ft-fml-3: "Poppins", serif;
  --color-base: #988C2C;
  --color-hover: #AFA 86F;
  --color-black: #222;
  --color-white-1: #fff;
  --color-white-2: #FAF7F1;
  --z-index-negative-layer: -1;
  --z-index-base: 2;
  --z-index-header: 9;
  --z-index-top-layer: 10;
}

:where(dialog, [popover]) {
  margin: unset;
  max-width: unset;
  max-height: unset;
  width: unset;
  height: unset;
}

/* base
--------------------------- */
html {
  font-size: calc(var(--fz-base) * var(--rem));
  line-height: var(--line-ht-base);
}

body {
  font-family: var(--fz-fml-base);
  color: var(--color-black);
}

img {
  inline-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*--------------------------------*
* layout
*--------------------------------*/
/* body
--------------------------- */
/* header
--------------------------- */
.l-header {
  --header-height: 56;
  --header-height-pc: 118;
  --logo-width: 151;
  --logo-width-pc: 251;
  --logo-height: 40;
  --menu-button-ht: 20;
  --menu-button-wt: 32;
  --menu-button-wt-pc: 52;
  inline-size: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-header);
  container-type: inline-size;
}
.l-header__inner {
  padding-inline: clamp(12 * var(--rem), var(--spacing-gutter), 30 * var(--rem));
}
.l-header__container {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  block-size: calc(var(--header-height) * var(--fluid-ratio-min-container));
  max-block-size: calc(var(--header-height-pc) * var(--rem));
}
.l-header__logo-img {
  inline-size: calc(var(--logo-width) * var(--fluid-ratio-min-container));
  aspect-ratio: var(--logo-width)/var(--logo-height);
  max-inline-size: calc(var(--logo-width-pc) * var(--rem));
}
.l-header__menu {
  display: grid;
  justify-items: center;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}
.l-header__menu-button {
  inline-size: calc(var(--menu-button-wt) * var(--fluid-ratio-min-container));
  max-inline-size: calc(var(--menu-button-wt-pc) * var(--rem));
  position: relative;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  aspect-ratio: var(--menu-button-wt)/var(--menu-button-ht);
}
.l-header__menu-icon {
  display: grid;
  background-color: var(--color-white-1);
  block-size: 2px;
}
.l-header__menu-icon::before, .l-header__menu-icon::after {
  content: "";
  display: inline-block;
  block-size: 2px;
  inline-size: -webkit-fill-available;
  inline-size: -moz-available;
  inline-size: stretch;
  background-color: inherit;
  position: absolute;
}
.l-header__menu-icon::before {
  inset-block-start: 0;
}
.l-header__menu-icon::after {
  inset-block-end: 0;
}
.l-header__menu-name {
  font-family: var(--ft-fml-2);
  font-size: clamp(0.625rem, 0.5rem + 0.333vw, 0.75rem);
  color: var(--color-white-1);
  -webkit-margin-before: clamp(0 * var(--rem), 9 * var(--fluid-ratio-max), 9 * var(--rem));
          margin-block-start: clamp(0 * var(--rem), 9 * var(--fluid-ratio-max), 9 * var(--rem));
}

/* main
--------------------------- */
/* footer
--------------------------- */
/*--------------------------------*
 * component
 *--------------------------------*/
/*--------------------------------*
* project
*--------------------------------*/
/* fv
--------------------------- */
.p-fv {
  --fv-height: 667;
  --fv-height-pc: 823;
  container: fv-container/inline-size;
  position: relative;
}
.p-fv__slide-wrap {
  position: relative;
}
.p-fv__slide-item {
  inline-size: 100%;
  position: absolute;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: fv-slide;
          animation-name: fv-slide;
  opacity: 0;
}
@-webkit-keyframes fv-slide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fv-slide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.p-fv__slide-item:nth-child(1) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}
.p-fv__slide-item:nth-child(1) .p-fv__slide-img {
  -o-object-position: 62% center;
     object-position: 62% center;
}
.p-fv__slide-item:nth-child(2) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.p-fv__slide-img {
  inline-size: 100%;
  block-size: calc(var(--fv-height) * var(--fluid-ratio-min-container));
  max-block-size: calc(var(--fv-height-pc) * var(--rem));
}
.p-fv__message-large {
  font-family: var(--ft-fml-2);
  font-size: clamp(3rem, 0rem + 8vw, 6rem);
  line-height: var(--line-ht-sm);
  color: var(--color-white-1);
  padding-inline: var(--spacing-gutter);
  inline-size: -webkit-fill-available;
  inline-size: -moz-available;
  inline-size: stretch;
  position: absolute;
  inset-block-end: 20%;
  z-index: var(--z-index-base);
}
@container fv-container (min-width: 768px) {
  .p-fv__message-large {
    --spacing-gutter: calc(66 * var(--fluid-ratio-max));
    padding-inline: var(--spacing-gutter);
    inset-block-end: 37%;
  }
}
.p-fv__message-small {
  font-size: clamp(0.75rem, 0rem + 2vw, 1.5rem);
  color: var(--color-white-1);
  background-color: var(--color-black);
  padding-block: clamp(9 * var(--rem), 9 * var(--fluid-ratio-min-container), 17 * var(--rem));
  -webkit-padding-start: clamp(9 * var(--rem), 12 * var(--fluid-ratio-min-container), 66 * var(--rem));
          padding-inline-start: clamp(9 * var(--rem), 12 * var(--fluid-ratio-min-container), 66 * var(--rem));
  -webkit-padding-end: clamp(24 * var(--rem), 24 * var(--fluid-ratio-min-container), 66 * var(--rem));
          padding-inline-end: clamp(24 * var(--rem), 24 * var(--fluid-ratio-min-container), 66 * var(--rem));
  position: absolute;
  inset-block-end: 12%;
  z-index: var(--z-index-base);
  -webkit-clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
}
@container fv-container (min-width: 768px) {
  .p-fv__message-small {
    --spacing-gutter: calc(66 * var(--fluid-ratio-max));
    padding-inline: var(--spacing-gutter);
    inset-block-end: 19%;
  }
}
.p-fv__news {
  --max-width: 1263;
  border: solid 1px var(--color-black);
  border-radius: 50px;
  background-color: var(--color-black);
  inline-size: -webkit-fill-available;
  inline-size: -moz-available;
  inline-size: stretch;
  margin-inline: var(--spacing-gutter);
  position: absolute;
  inset-block-end: 1%;
  z-index: var(--z-index-base);
}
@container fv-container (min-width: 768px) {
  .p-fv__news {
    -webkit-margin-start: calc(72 * var(--fluid-ratio-max));
            margin-inline-start: calc(72 * var(--fluid-ratio-max));
    -webkit-margin-end: calc(105 * var(--fluid-ratio-max));
            margin-inline-end: calc(105 * var(--fluid-ratio-max));
    inset-block-end: 5%;
    max-inline-size: calc(var(--max-width) * var(--rem));
  }
}
.p-fv__news-link {
  display: block grid;
  grid-template-columns: clamp(52 * var(--rem), 52 * var(--fluid-ratio-min-container), 186 * var(--rem)) 1fr;
}
.p-fv__news-title {
  display: grid;
  place-items: center;
  font-family: var(--ft-fml-2);
  color: var(--color-white-1);
  font-size: clamp(0.625rem, 0.317rem + 1.315vw, 1.5rem);
}
.p-fv__news-post {
  line-height: var(--line-ht-sm);
  padding: calc(10 * var(--fluid-ratio-min-container));
  background-color: var(--color-white-1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
@container fv-container (min-width: 768px) {
  .p-fv__news-post {
    display: grid;
    grid-template-columns: 1fr auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-block: min(23 * var(--rem), 23 * var(--fluid-ratio-max-container));
    -webkit-padding-start: min(90 * var(--rem), 90 * var(--fluid-ratio-max-container));
            padding-inline-start: min(90 * var(--rem), 90 * var(--fluid-ratio-max-container));
    -webkit-padding-end: min(47 * var(--rem), 47 * var(--fluid-ratio-max-container));
            padding-inline-end: min(47 * var(--rem), 47 * var(--fluid-ratio-max-container));
  }
}
.p-fv__news-text {
  font-size: clamp(0.75rem, 0.662rem + 0.376vw, 1rem);
}
@container fv-container (min-width: 0) {
  .p-fv__news-view-more {
    display: none;
  }
}
@container fv-container (min-width: 768px) {
  .p-fv__news-view-more {
    display: grid;
    grid-auto-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: calc(6 * var(--rem));
    font-family: var(--ft-fml-2);
    font-size: calc(14 * var(--rem));
    line-height: var(--line-ht-base);
  }
  .p-fv__news-view-more::after {
    content: "";
    display: inline-block;
    inline-size: calc(7 * var(--rem));
    aspect-ratio: 1;
    -webkit-border-before: 2px solid var(--color-black);
            border-block-start: 2px solid var(--color-black);
    -webkit-border-end: 2px solid var(--color-black);
            border-inline-end: 2px solid var(--color-black);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

/*--------------------------------*
* utility
*--------------------------------*//*# sourceMappingURL=style.css.map */