@charset "UTF-8";
/*--------------------------------*
 * foundation
 *--------------------------------*/
/* カスタム変数
--------------------------- */
:root {
  --layout-width-min: 375;
  --layout-width-max: 1440;
  --fluid-ratio-min: calc(1 / var(--layout-width-min) * 100dvi);
  --fluid-ratio-max: calc(1 / var(--layout-width-max) * 100dvi);
  --fluid-ratio-min-container: calc(1 / var(--layout-width-min) * 100cqi);
  --fluid-ratio-max-container: calc(1 / var(--layout-width-max) * 100cqi);
  --spacing-gutter: calc(12 * var(--fluid-ratio-min));
  --leading-trim: calc((1em - 1lh) / 2);
  --fz-base: 16;
  --fz-sm-1: 10;
  --fz-sm-2: 12;
  --fz-sm-3: 14;
  --fz-md: 18;
  --fz-lg-1: 20;
  --fz-lg-2: 24;
  --fz-xl-1: 32;
  --fz-xl-2: 36;
  --fz-xxl-1: 40;
  --fz-xxl-2: 48;
  --fz-xxl-3: 52;
  --rem: calc(1rem / var(--fz-base));
  --fz-wt-base: 400;
  --fz-wt-sm: ;
  --fz-wt-md: ;
  --fz-wt-bold: 700;
  --line-ht-base: 1.5;
  --line-ht-sm: 1.2;
  --line-ht-md: 1.8;
  --line-ht-lg: 2.5;
  --letter-sg-base: em;
  --letter-sg-sm: 0.15em;
  --letter-sg-md: em;
  --letter-sg-lg: em;
  --ft-fml-base: "Noto Sans JP", serif;
  --ft-fml-1: "Inter", sans-serif;
  --ft-fml-2: "Viga", serif;
  --ft-fml-3: "Poppins", serif;
  --color-main: #988C2C;
  --color-sub: #AFA86F;
  --color-black: #222;
  --color-white-1: #fff;
  --color-white-2: #FAF7F1;
  --color-grey-1: #999;
  --z-index-negative-layer: -1;
  --z-index-base: 2;
  --z-index-header: 9;
  --z-index-top-layer: 10;
}

:where(dialog, [popover]) {
  margin: unset;
  max-width: unset;
  max-height: unset;
  width: unset;
  height: unset;
}

/* base
--------------------------- */
html {
  font-size: calc(var(--fz-base) * var(--rem));
}

body {
  font-family: var(--fz-fml-base);
  color: var(--color-black);
}

img {
  inline-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*--------------------------------*
* layout
*--------------------------------*/
/* body
--------------------------- */
/* header
--------------------------- */
.l-header {
  --header-height: 56;
  --header-height-pc: 118;
  --logo-width: 151;
  --logo-width-pc: 251;
  --logo-height: 40;
  --menu-button-ht: 20;
  --menu-button-wt: 32;
  --menu-button-wt-pc: 52;
  inline-size: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-header);
  container-type: inline-size;
}
.l-header__inner {
  padding-inline: clamp(12 * var(--rem), var(--spacing-gutter), 30 * var(--rem));
}
.l-header__container {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  block-size: calc(var(--header-height) * var(--fluid-ratio-min-container));
  max-block-size: calc(var(--header-height-pc) * var(--rem));
}
.l-header__logo-img {
  inline-size: calc(var(--logo-width) * var(--fluid-ratio-min-container));
  aspect-ratio: var(--logo-width)/var(--logo-height);
  max-inline-size: calc(var(--logo-width-pc) * var(--rem));
}
.l-header__menu {
  display: grid;
  justify-items: center;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}
.l-header__menu-button {
  inline-size: calc(var(--menu-button-wt) * var(--fluid-ratio-min-container));
  max-inline-size: calc(var(--menu-button-wt-pc) * var(--rem));
  position: relative;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  aspect-ratio: var(--menu-button-wt)/var(--menu-button-ht);
}
.l-header__menu-icon {
  display: grid;
  background-color: var(--color-white-1);
  block-size: 2px;
}
.l-header__menu-icon::before, .l-header__menu-icon::after {
  content: "";
  display: inline-block;
  block-size: 2px;
  inline-size: -webkit-fill-available;
  inline-size: -moz-available;
  inline-size: stretch;
  background-color: inherit;
  position: absolute;
}
.l-header__menu-icon::before {
  inset-block-start: 0;
}
.l-header__menu-icon::after {
  inset-block-end: 0;
}
.l-header__menu-name {
  font-family: var(--ft-fml-2);
  font-size: clamp(0.625rem, 0.5rem + 0.333vw, 0.75rem);
  color: var(--color-white-1);
  -webkit-margin-before: clamp(0 * var(--rem), 9 * var(--fluid-ratio-max), 9 * var(--rem));
          margin-block-start: clamp(0 * var(--rem), 9 * var(--fluid-ratio-max), 9 * var(--rem));
}

/* main
--------------------------- */
/* footer
--------------------------- */
.l-footer {
  container: footer-container/inline-size;
}
@media (min-width: 1052px) {
  .l-footer {
    -webkit-padding-after: calc(64 * var(--rem));
            padding-block-end: calc(64 * var(--rem));
  }
}
.l-footer__bgc {
  background-color: var(--color-white-2);
  inline-size: -webkit-fill-available;
  inline-size: -moz-available;
  inline-size: stretch;
  max-inline-size: calc(1312 * var(--rem));
  margin-inline: auto;
  -webkit-padding-after: calc(24 * var(--rem));
          padding-block-end: calc(24 * var(--rem));
}
@container footer-container (min-width: 1052px) {
  .l-footer__bgc {
    -webkit-padding-after: calc(61 * var(--rem));
            padding-block-end: calc(61 * var(--rem));
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
.l-footer__contents {
  -webkit-padding-before: calc(169 * var(--rem));
          padding-block-start: calc(169 * var(--rem));
  max-inline-size: calc(956 * var(--rem));
  margin-inline: auto;
}
@container footer-container (min-width: 1052px) {
  .l-footer__contents {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: calc(108 * var(--rem));
    -webkit-padding-before: calc(198 * var(--rem));
            padding-block-start: calc(198 * var(--rem));
  }
}
@container footer-container (min-width: 1052px) {
  .l-footer__g-nav-sns-wrap {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.l-footer__g-nav {
  font-size: calc(var(--fz-sm-3) * var(--rem));
  font-weight: var(--fz-wt-bold);
}
@container footer-container (min-width: 1052px) {
  .l-footer__g-nav {
    font-size: unset;
    -webkit-margin-before: calc(25 * var(--rem));
            margin-block-start: calc(25 * var(--rem));
  }
}
.l-footer__nav-list {
  --row-gap: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: calc(var(--row-gap) * var(--rem));
}
@container footer-container (min-width: 1052px) {
  .l-footer__nav-list {
    --column-gap: 22;
    --row-gap: 41;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: calc(var(--column-gap) * var(--rem));
       -moz-column-gap: calc(var(--column-gap) * var(--rem));
            column-gap: calc(var(--column-gap) * var(--rem));
  }
}
.l-footer__nav-item {
  margin-block: var(--leading-trim);
}
.l-footer__sns {
  -webkit-margin-before: clamp(55 * var(--rem), 55 * var(--fluid-ratio-min), 61 * var(--rem));
          margin-block-start: clamp(55 * var(--rem), 55 * var(--fluid-ratio-min), 61 * var(--rem));
}
@container footer-container (min-width: 1052px) {
  .l-footer__sns {
    justify-self: end;
  }
}
.l-footer__sns-list {
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: calc(16 * var(--rem));
     -moz-column-gap: calc(16 * var(--rem));
          column-gap: calc(16 * var(--rem));
}
.l-footer__sns-icon {
  inline-size: calc(24 * var(--rem));
  aspect-ratio: 1;
}
.l-footer__company {
  -webkit-margin-before: calc(29 * var(--rem));
          margin-block-start: calc(29 * var(--rem));
  display: grid;
  grid-template-rows: auto;
  row-gap: calc(44 * var(--rem));
  justify-items: center;
}
@container footer-container (min-width: 1052px) {
  .l-footer__company {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    row-gap: 0;
  }
}
.l-footer__logo-img {
  display: inline-block;
  inline-size: calc(251 * var(--rem));
  aspect-ratio: 251/66;
}
.l-footer__copyright {
  font-family: var(--ft-fml-2);
  font-size: calc(var(--fz-sm-2) * var(--rem));
  color: var(--color-grey-1);
}
@container footer-container (min-width: 105px) {
  .l-footer__copyright {
    -ms-flex-item-align: end;
        align-self: end;
  }
}

/*--------------------------------*
 * component
 *--------------------------------*/
/* button
--------------------------- */
/* view-more
--------------------------- */
.c-button__view-more {
  font-family: var(--ft-fml-2);
  font-size: clamp(1rem, 0.912rem + 0.376vw, 1.25rem);
  line-height: normal;
  display: inline grid;
  grid-template-columns: 1fr auto 1fr;
  -webkit-column-gap: calc(8 * var(--rem));
     -moz-column-gap: calc(8 * var(--rem));
          column-gap: calc(8 * var(--rem));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  inline-size: clamp(277 * var(--rem), 277 * var(--fluid-ratio-min-container), 355 * var(--rem));
  block-size: clamp(62 * var(--rem), 62 * var(--fluid-ratio-min-container), 80 * var(--rem));
  padding-inline: clamp(17 * var(--rem), 17 * var(--fluid-ratio-min-container), 10 * var(--rem));
  border: solid 1px var(--color-black);
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.c-button__view-more::after {
  content: "";
  justify-self: end;
  inline-size: calc(7 * var(--rem));
  aspect-ratio: 1;
  -webkit-border-before: 2px solid var(--color-black);
          border-block-start: 2px solid var(--color-black);
  -webkit-border-end: 2px solid var(--color-black);
          border-inline-end: 2px solid var(--color-black);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.c-button__view-more::before {
  content: "";
}
.c-button__view-more:hover {
  color: var(--color-white-1);
  background-color: var(--color-black);
}
.c-button__view-more:hover::after {
  -webkit-border-before: 2px solid var(--color-white-1);
          border-block-start: 2px solid var(--color-white-1);
  -webkit-border-end: 2px solid var(--color-white-1);
          border-inline-end: 2px solid var(--color-white-1);
}

/* circle-left
--------------------------- */
.c-button__circle {
  --circle-button-width: 58;
  display: inline grid;
  grid-template-columns: auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  inline-size: calc(var(--circle-button-width) * var(--rem));
  aspect-ratio: 1;
  border: solid 1px var(--color-black);
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  background-color: var(--color-white-1);
}
.c-button__circle::before {
  content: "";
  display: inline-block;
  justify-self: end;
  inline-size: calc(10 * var(--rem));
  aspect-ratio: 1;
  border-left: solid 2px var(--color-black);
  border-bottom: solid 2px var(--color-black);
  border-radius: 0.1em;
  -webkit-transform: translateX(50%) rotate(45deg);
          transform: translateX(50%) rotate(45deg);
}
.c-button__circle::after {
  content: "";
  display: inline-block;
  inline-size: calc(14 * var(--rem));
  block-size: calc(2 * var(--rem));
  background-color: var(--color-black);
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}
.c-button__circle:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* circle-right
--------------------------- */
.c-button__circle-right {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.c-button__circle-right:hover {
  -webkit-transform: scale(-1.2, 1.2);
          transform: scale(-1.2, 1.2);
}

/* circle-black
--------------------------- */
.c-button__circle_black {
  background-color: var(--color-black);
}
.c-button__circle_black::after {
  background-color: var(--color-white-1);
}
.c-button__circle_black::before {
  border-left: solid 2px var(--color-white-1);
  border-bottom: solid 2px var(--color-white-1);
}

/* circle-sm
--------------------------- */
.c-button__circle_sm {
  --circle-button-width: 42;
  inline-size: calc(var(--circle-button-width) * var(--rem));
}

/* entry
--------------------------- */
.c-button__entry {
  font-family: var(--ft-fml-2);
  font-size: clamp(0.875rem, 0.831rem + 0.188vw, 1rem);
  color: var(--color-black);
  display: inline grid;
  grid-template-columns: 1fr auto 1fr;
  -webkit-column-gap: calc(8 * var(--rem));
     -moz-column-gap: calc(8 * var(--rem));
          column-gap: calc(8 * var(--rem));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  padding-block: clamp(20 * var(--rem), 5.3333333333cqi, 27 * var(--rem));
  padding-inline: clamp(19 * var(--rem), 5.0666666667cqi, 27 * var(--rem));
  background-color: var(--color-sub);
}
.c-button__entry::after {
  content: "";
  justify-self: end;
  inline-size: calc(11 * var(--rem));
  aspect-ratio: 1;
  -webkit-border-before: 3px solid var(--color-black);
          border-block-start: 3px solid var(--color-black);
  -webkit-border-end: 3px solid var(--color-black);
          border-inline-end: 3px solid var(--color-black);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.c-button__entry::before {
  content: "";
}
.c-button__entry:hover {
  color: var(--color-white-1);
  background-color: var(--color-black);
}
.c-button__entry:hover::after {
  -webkit-border-before: 3px solid var(--color-white-1);
          border-block-start: 3px solid var(--color-white-1);
  -webkit-border-end: 3px solid var(--color-white-1);
          border-inline-end: 3px solid var(--color-white-1);
}

/* inner
--------------------------- */
.c-inner {
  --spacing-gutter: calc(17 * var(--fluid-ratio-min-container));
  padding-inline: var(--spacing-gutter);
  max-inline-size: calc(var(--layout-width-max) * var(--rem));
  margin-inline: auto;
}

/* section-title
--------------------------- */
.c-section-title-en {
  --section-title-col: rgb(151 151 151 / 0.1);
  font-family: var(--ft-fml-3);
  font-size: clamp(5rem, 3.768rem + 5.258vw, 8.5rem);
  font-weight: var(--fz-wt-base);
  color: var(--section-title-col);
}

.c-section-title-ja {
  font-size: clamp(2rem, 1.56rem + 1.878vw, 3.25rem);
  font-weight: var(--fz-wt-bold);
}

/*--------------------------------*
* project
*--------------------------------*/
/* fv
--------------------------- */
.p-fv {
  --fv-height: 667;
  --fv-height-pc: 823;
  container: fv-container/inline-size;
  position: relative;
}
.p-fv__slide-item {
  inline-size: 100%;
}
.p-fv__slide-img {
  inline-size: 100%;
  block-size: calc(var(--fv-height) * var(--fluid-ratio-min-container));
  max-block-size: calc(var(--fv-height-pc) * var(--rem));
}
.p-fv__message-large {
  font-family: var(--ft-fml-2);
  font-size: clamp(3rem, 0rem + 8vw, 6rem);
  line-height: var(--line-ht-sm);
  color: var(--color-white-1);
  padding-inline: var(--spacing-gutter);
  inline-size: -webkit-fill-available;
  inline-size: -moz-available;
  inline-size: stretch;
  position: absolute;
  inset-block-end: 20%;
  z-index: var(--z-index-base);
}
@container fv-container (min-width: 768px) {
  .p-fv__message-large {
    --spacing-gutter: calc(66 * var(--fluid-ratio-max));
    padding-inline: var(--spacing-gutter);
    inset-block-end: 37%;
  }
}
.p-fv__message-small {
  font-size: clamp(0.75rem, 0rem + 2vw, 1.5rem);
  color: var(--color-white-1);
  background-color: var(--color-black);
  padding-block: clamp(9 * var(--rem), 9 * var(--fluid-ratio-min-container), 17 * var(--rem));
  -webkit-padding-start: clamp(9 * var(--rem), 12 * var(--fluid-ratio-min-container), 66 * var(--rem));
          padding-inline-start: clamp(9 * var(--rem), 12 * var(--fluid-ratio-min-container), 66 * var(--rem));
  -webkit-padding-end: clamp(24 * var(--rem), 24 * var(--fluid-ratio-min-container), 66 * var(--rem));
          padding-inline-end: clamp(24 * var(--rem), 24 * var(--fluid-ratio-min-container), 66 * var(--rem));
  position: absolute;
  inset-block-end: 12%;
  z-index: var(--z-index-base);
  -webkit-clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
}
@container fv-container (min-width: 768px) {
  .p-fv__message-small {
    --spacing-gutter: calc(66 * var(--fluid-ratio-max));
    padding-inline: var(--spacing-gutter);
    inset-block-end: 19%;
  }
}
.p-fv__news {
  --max-width: 1263;
  border: solid 1px var(--color-black);
  border-radius: 50px;
  background-color: var(--color-black);
  inline-size: -webkit-fill-available;
  inline-size: -moz-available;
  inline-size: stretch;
  margin-inline: var(--spacing-gutter);
  position: absolute;
  inset-block-end: 1%;
  z-index: var(--z-index-base);
}
@container fv-container (min-width: 768px) {
  .p-fv__news {
    -webkit-margin-start: calc(72 * var(--fluid-ratio-max));
            margin-inline-start: calc(72 * var(--fluid-ratio-max));
    -webkit-margin-end: calc(105 * var(--fluid-ratio-max));
            margin-inline-end: calc(105 * var(--fluid-ratio-max));
    inset-block-end: 5%;
    max-inline-size: calc(var(--max-width) * var(--rem));
  }
}
.p-fv__news-link {
  display: block grid;
  grid-template-columns: clamp(52 * var(--rem), 52 * var(--fluid-ratio-min-container), 186 * var(--rem)) 1fr;
}
.p-fv__news-title {
  display: grid;
  place-items: center;
  font-family: var(--ft-fml-2);
  color: var(--color-white-1);
  font-size: clamp(0.625rem, 0.317rem + 1.315vw, 1.5rem);
}
.p-fv__news-post {
  line-height: var(--line-ht-sm);
  padding: calc(10 * var(--fluid-ratio-min-container));
  background-color: var(--color-white-1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
@container fv-container (min-width: 768px) {
  .p-fv__news-post {
    display: grid;
    grid-template-columns: 1fr auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-block: min(23 * var(--rem), 23 * var(--fluid-ratio-max-container));
    -webkit-padding-start: min(90 * var(--rem), 90 * var(--fluid-ratio-max-container));
            padding-inline-start: min(90 * var(--rem), 90 * var(--fluid-ratio-max-container));
    -webkit-padding-end: min(47 * var(--rem), 47 * var(--fluid-ratio-max-container));
            padding-inline-end: min(47 * var(--rem), 47 * var(--fluid-ratio-max-container));
  }
}
.p-fv__news-text {
  font-size: clamp(0.75rem, 0.662rem + 0.376vw, 1rem);
}
@container fv-container (min-width: 0) {
  .p-fv__news-view-more {
    display: none;
  }
}
@container fv-container (min-width: 768px) {
  .p-fv__news-view-more {
    display: grid;
    grid-auto-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: calc(6 * var(--rem));
    font-family: var(--ft-fml-2);
    font-size: calc(14 * var(--rem));
    line-height: var(--line-ht-base);
  }
  .p-fv__news-view-more::after {
    content: "";
    display: inline-block;
    inline-size: calc(7 * var(--rem));
    aspect-ratio: 1;
    -webkit-border-before: 2px solid var(--color-black);
            border-block-start: 2px solid var(--color-black);
    -webkit-border-end: 2px solid var(--color-black);
            border-inline-end: 2px solid var(--color-black);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

/* career
--------------------------- */
.p-career {
  --slide-item-height-sp: 210;
  --slide-item-height-pc: 393;
  -webkit-padding-before: clamp(40 * var(--rem), 40 * var(--fluid-ratio-min), 100 * var(--rem));
          padding-block-start: clamp(40 * var(--rem), 40 * var(--fluid-ratio-min), 100 * var(--rem));
  container: career-container/inline-size;
  position: relative;
}
.p-career .swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.p-career .swiper-slide.p-career__slide-item_down {
  -webkit-margin-before: clamp(27 * var(--rem), 27 * var(--fluid-ratio-min-container), 36 * var(--rem));
          margin-block-start: clamp(27 * var(--rem), 27 * var(--fluid-ratio-min-container), 36 * var(--rem));
}
.p-career__slide-img {
  aspect-ratio: 271/210;
  border-radius: 60px;
}
@container career-container (mic-width: 768px) {
  .p-career__slide-img {
    aspect-ratio: 506/393;
  }
}
.p-career__title {
  display: grid;
  gap: calc(8 * var(--rem));
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 25%;
  z-index: var(--z-index-base);
  font-size: clamp(1.5rem, 1.148rem + 1.502vw, 2.5rem);
}
@container career-container (min-width: 425px) {
  .p-career__title {
    top: 25%;
  }
}
@container career-container (min-width: 768px) {
  .p-career__title {
    top: 29%;
  }
}
@container career-container (min-width: 1024px) {
  .p-career__title {
    top: 32%;
  }
}
@container career-container (min-width: 1440px) {
  .p-career__title {
    top: 29%;
  }
}
@container career-container (min-width: 1920px) {
  .p-career__title {
    top: 31%;
  }
}
.p-career__title-text {
  inline-size: -webkit-max-content;
  inline-size: -moz-max-content;
  inline-size: max-content;
  margin-inline: auto;
  background-color: var(--color-white-1);
}
.p-career__title-text:nth-child(1) {
  padding: calc(7 * var(--rem)) calc(11 * var(--rem));
}
.p-career__title-text:nth-child(2) {
  padding: calc(7 * var(--rem)) calc(11 * var(--rem));
}
.p-career__objective {
  font-size: clamp(1.125rem, 0.729rem + 1.69vw, 2.25rem);
  font-weight: var(--fz-wt-bold);
  line-height: var(--line-ht-lg);
  text-align: center;
  -webkit-margin-before: clamp(80 * var(--rem), 80 * var(--fluid-ratio-min), 100 * var(--rem));
          margin-block-start: clamp(80 * var(--rem), 80 * var(--fluid-ratio-min), 100 * var(--rem));
}
@container career-container (min-width: 768px) {
  .p-career__objective {
    line-height: var(--line-ht-md);
  }
}
.p-career__map {
  display: grid;
  gap: clamp(40 * var(--rem), 40 * var(--fluid-ratio-min), 52 * var(--rem));
  max-inline-size: calc(var(--layout-width-max) * 1px);
  margin-inline: auto;
  background: url(../img/top/map_01.png) no-repeat;
  background-size: 85% auto;
  background-position-x: center;
  background-position-y: top;
  -webkit-padding-after: clamp(40 * var(--rem), 40 * var(--fluid-ratio-min), 52 * var(--rem));
          padding-block-end: clamp(40 * var(--rem), 40 * var(--fluid-ratio-min), 52 * var(--rem));
}
@container career-container (min-width: 768px) {
  .p-career__map {
    background-size: 69% auto;
  }
}
.p-career__view-more {
  text-align: center;
}

/* employee
--------------------------- */
.p-employee {
  -webkit-padding-before: clamp(70 * var(--rem), 70 * var(--fluid-ratio-min), 120 * var(--rem));
          padding-block-start: clamp(70 * var(--rem), 70 * var(--fluid-ratio-min), 120 * var(--rem));
  container: employee-container/inline-size;
  position: relative;
}
.p-employee__title {
  position: relative;
}
.p-employee__title-en {
  -webkit-padding-start: clamp(17 * var(--rem), 17 * var(--fluid-ratio-min-container), 76 * var(--rem));
          padding-inline-start: clamp(17 * var(--rem), 17 * var(--fluid-ratio-min-container), 76 * var(--rem));
}
.p-employee__title-ja {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: transLateY(-50%);
          transform: transLateY(-50%);
  -webkit-padding-start: clamp(17 * var(--rem), 17 * var(--fluid-ratio-min-container), 242 * var(--rem));
          padding-inline-start: clamp(17 * var(--rem), 17 * var(--fluid-ratio-min-container), 242 * var(--rem));
}
@container employee-container (min-width: 768px) {
  .p-employee__title-ja {
    -webkit-padding-start: min(242 * var(--rem), 242 * var(--fluid-ratio-max-container));
            padding-inline-start: min(242 * var(--rem), 242 * var(--fluid-ratio-max-container));
  }
}
.p-employee__description {
  -webkit-padding-start: max(17 * var(--rem), 17 * var(--fluid-ratio-min-container));
          padding-inline-start: max(17 * var(--rem), 17 * var(--fluid-ratio-min-container));
  -webkit-padding-end: calc(17 * var(--rem));
          padding-inline-end: calc(17 * var(--rem));
}
@container employee-container (min-width: 768px) {
  .p-employee__description {
    -webkit-padding-start: min(242 * var(--rem), 242 * var(--fluid-ratio-max-container));
            padding-inline-start: min(242 * var(--rem), 242 * var(--fluid-ratio-max-container));
  }
}
.p-employee__article {
  -webkit-margin-before: calc(50 * var(--rem));
          margin-block-start: calc(50 * var(--rem));
  -webkit-padding-start: clamp(26 * var(--rem), 26 * var(--fluid-ratio-min), 242 * var(--rem));
          padding-inline-start: clamp(26 * var(--rem), 26 * var(--fluid-ratio-min), 242 * var(--rem));
}
@container employee-container (min-width: 768px) {
  .p-employee__article {
    -webkit-padding-start: min(242 * var(--rem), 242 * var(--fluid-ratio-max-container));
            padding-inline-start: min(242 * var(--rem), 242 * var(--fluid-ratio-max-container));
  }
}
.p-employee .swiper-wrapper.p-employee__slide-wrap {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.p-employee__slide_down {
  -webkit-margin-before: clamp(25 * var(--rem), 25 * var(--fluid-ratio-min), 36 * var(--rem));
          margin-block-start: clamp(25 * var(--rem), 25 * var(--fluid-ratio-min), 36 * var(--rem));
}
.p-employee__slide-link {
  display: grid;
  position: relative;
}
.p-employee__name {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  font-weight: var(--fz-wt-bold);
  font-size: clamp(1.25rem, 1.162rem + 0.376vw, 1.5rem);
  -webkit-margin-before: clamp(14 * var(--rem), 14 * var(--fluid-ratio-min), 16 * var(--rem));
          margin-block-start: clamp(14 * var(--rem), 14 * var(--fluid-ratio-min), 16 * var(--rem));
}
.p-employee__data {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  font-weight: var(--fz-wt-bold);
  font-size: clamp(0.75rem, 0.662rem + 0.376vw, 1rem);
  -webkit-margin-before: clamp(30 * var(--rem), 30 * var(--fluid-ratio-min), 34 * var(--rem));
          margin-block-start: clamp(30 * var(--rem), 30 * var(--fluid-ratio-min), 34 * var(--rem));
}
.p-employee__message {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-weight: var(--fz-wt-bold);
  font-size: clamp(1rem, 0.912rem + 0.376vw, 1.25rem);
  position: absolute;
  bottom: 17%;
}
.p-employee__message > span {
  background-color: var(--color-sub);
  display: block;
  padding: calc(4 * var(--rem));
  inline-size: -webkit-max-content;
  inline-size: -moz-max-content;
  inline-size: max-content;
}
.p-employee__message > span + span {
  -webkit-margin-before: calc(6 * var(--rem));
          margin-block-start: calc(6 * var(--rem));
}
.p-employee__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border-radius: 30px;
  inline-size: max(246 * var(--rem), 246 * var(--fluid-ratio-min));
  aspect-ratio: 246/311;
}
@container employee-container (min-width: 768px) {
  .p-employee__img {
    inline-size: min(300 * var(--rem), 300 * var(--fluid-ratio-min));
    aspect-ratio: 300/379;
  }
}
.p-employee__button-wrap {
  display: block grid;
  grid-template-columns: repeat(2, auto);
  gap: min(180 * var(--rem), 180 * var(--fluid-ratio-max));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  -webkit-margin-start: calc(542 * var(--fluid-ratio-max));
          margin-inline-start: calc(542 * var(--fluid-ratio-max));
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  -webkit-padding-end: clamp(12 * var(--rem), var(--spacing-gutter), 30 * var(--rem));
          padding-inline-end: clamp(12 * var(--rem), var(--spacing-gutter), 30 * var(--rem));
  -webkit-margin-before: clamp(64 * var(--rem), 64 * var(--fluid-ratio-min), 80 * var(--rem));
          margin-block-start: clamp(64 * var(--rem), 64 * var(--fluid-ratio-min), 80 * var(--rem));
}
@container employee-container (max-width: 767px) {
  .p-employee__button-wrap {
    margin-inline: auto;
    gap: 0;
    padding: 0;
  }
}
@container employee-container (max-width: 1024px) {
  .p-employee__button-wrap {
    -webkit-margin-start: auto;
            margin-inline-start: auto;
  }
}
.p-employee__view-more {
  justify-self: end;
}
.p-employee__slide-button-wrap {
  display: inline grid;
  grid-template-columns: repeat(2, auto);
  gap: calc(20 * var(--rem));
}
@container employee-container (max-width: 767px) {
  .p-employee__slide-button-wrap {
    display: none;
  }
}

/* benefits
--------------------------- */
.p-benefits {
  -webkit-padding-before: clamp(70 * var(--rem), 70 * var(--fluid-ratio-min), 120 * var(--rem));
          padding-block-start: clamp(70 * var(--rem), 70 * var(--fluid-ratio-min), 120 * var(--rem));
  container: benefits-container/inline-size;
  position: relative;
}
.p-benefits__title {
  position: relative;
}
@container benefits-container (min-width: 1050px) {
  .p-benefits__title {
    text-align: center;
  }
}
.p-benefits__title-ja {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: transLateY(-50%);
          transform: transLateY(-50%);
}
@container employee-container (min-width: 768px) {
  .p-benefits__title-ja {
    -webkit-padding-start: min(242 * var(--rem), 242 * var(--fluid-ratio-max-container));
            padding-inline-start: min(242 * var(--rem), 242 * var(--fluid-ratio-max-container));
  }
}
@container benefits-container (min-width: 1050px) {
  .p-benefits__title-ja {
    text-align: center;
    right: 0;
    margin-inline: auto;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
  }
}
@container employee-container (min-width: 768px) {
  .p-benefits__description {
    -webkit-padding-start: min(242 * var(--rem), 242 * var(--fluid-ratio-max-container));
            padding-inline-start: min(242 * var(--rem), 242 * var(--fluid-ratio-max-container));
  }
}
@container benefits-container (min-width: 1050px) {
  .p-benefits__description {
    inline-size: -webkit-fit-content;
    inline-size: -moz-fit-content;
    inline-size: fit-content;
    margin-inline: auto;
  }
}
.p-benefits__detail-wrap {
  -webkit-margin-before: clamp(50 * var(--rem), 50 * var(--fluid-ratio-min), 114 * var(--rem));
          margin-block-start: clamp(50 * var(--rem), 50 * var(--fluid-ratio-min), 114 * var(--rem));
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(430px, 100%), 1fr));
  gap: calc(36 * var(--fluid-ratio-min));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@container benefits-container (min-width: 1050px) {
  .p-benefits__detail-wrap {
    gap: calc(94 * var(--rem));
  }
}
.p-benefits__detail {
  justify-items: center;
  inline-size: -webkit-fill-available;
  inline-size: -moz-available;
  inline-size: stretch;
  position: relative;
}
@container benefits-container (min-width: 1050px) {
  .p-benefits__detail:nth-child(1) {
    justify-items: end;
  }
  .p-benefits__detail:nth-child(2) {
    justify-items: start;
  }
}
.p-benefits__detail-link {
  display: block grid;
  gap: clamp(28 * var(--rem), 28 * var(--fluid-ratio-min), 36 * var(--rem));
  inline-size: min(100%, 430 * var(--rem));
  -webkit-padding-before: 11.7333333333cqi;
          padding-block-start: 11.7333333333cqi;
  position: relative;
  container: detail-container/inline-size;
  -webkit-transition: scale 0.3s var(--ease-out-quad);
  transition: scale 0.3s var(--ease-out-quad);
}
@container benefits-container (min-width: 473px) {
  .p-benefits__detail-link {
    -webkit-padding-before: calc(70 * var(--rem));
            padding-block-start: calc(70 * var(--rem));
  }
}
.p-benefits__detail-link::after {
  content: "";
  display: inline-block;
  inline-size: clamp(251 * var(--rem), 73.6070381232cqi, 100cqi);
  aspect-ratio: 1;
  background-color: var(--color-white-2);
  border-radius: 50%;
  position: absolute;
  inset-block-start: 0;
  inset-inline: 0;
  margin-inline: auto;
  z-index: var(--z-index-negative-layer);
}
@container detail-container (min-width: 430px) {
  .p-benefits__detail-link::after {
    inline-size: 100cqi;
  }
}
.p-benefits__detail-link:hover {
  scale: 1.05;
}
.p-benefits__detail-figure {
  text-align: center;
  position: relative;
}
.p-benefits__detail:nth-child(2) .p-benefits__detail-figure {
  -webkit-padding-before: 5.2785923754cqi;
          padding-block-start: 5.2785923754cqi;
}
.p-benefits__detail-img {
  --img-width: 194;
  --img-height: 164;
  inline-size: max(var(--img-width) * var(--rem), var(--img-width) / 341 * 100cqi);
  aspect-ratio: var(--img-width)/var(--img-height);
  margin-inline: auto;
}
@container detail-container (min-width: 430px) {
  .p-benefits__detail-img {
    --img-width: 327;
    --img-height: 277;
    inline-size: min(var(--img-width) * var(--rem), var(--img-width) / 341 * 100cqi);
  }
}
.p-benefits__detail:nth-child(2) .p-benefits__detail-img {
  --img-width: 202;
  --img-height: 135;
  inline-size: max(var(--img-width) * var(--rem), var(--img-width) / 341 * 100cqi);
  aspect-ratio: var(--img-width)/var(--img-height);
  margin-inline: auto;
}
@container detail-container (min-width: 430px) {
  .p-benefits__detail:nth-child(2) .p-benefits__detail-img {
    --img-width: 344;
    --img-height: 230;
    inline-size: min(var(--img-width) * var(--rem), var(--img-width) / 341 * 100cqi);
  }
}
.p-benefits__detail-caption {
  font-size: clamp(1.5rem, 1.324rem + 0.751vw, 2rem);
  font-weight: var(--fz-wt-bold);
  background-color: var(--color-sub);
  display: inline-block;
  padding-inline: calc(7 * var(--rem));
  -webkit-margin-before: clamp(20 * var(--rem), 20 * var(--fluid-ratio-min), 26 * var(--rem));
          margin-block-start: clamp(20 * var(--rem), 20 * var(--fluid-ratio-min), 26 * var(--rem));
}
@container detail-container (min-width: 430px) {
  .p-benefits__detail-caption {
    font-size: calc(var(--fz-xl-1) * var(--rem));
  }
}
.p-benefits__detail:nth-child(2) .p-benefits__detail-caption {
  -webkit-margin-before: clamp(35 * var(--rem), 35 * var(--fluid-ratio-min), 49 * var(--rem));
          margin-block-start: clamp(35 * var(--rem), 35 * var(--fluid-ratio-min), 49 * var(--rem));
}
.p-benefits__detail-text-vertical {
  font-family: var(--ft-fml-2);
  font-size: clamp(0.875rem, 0.655rem + 0.939vw, 1.5rem);
  letter-spacing: var(--letter-sg-sm);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  inset-inline-start: -2%;
  inset-block-start: 16%;
  -webkit-margin-start: clamp(0rem, -5.316rem + 22.68vw, 1.375rem);
          margin-inline-start: clamp(0rem, -5.316rem + 22.68vw, 1.375rem);
}
@container detail-container (min-width: 430px) {
  .p-benefits__detail-text-vertical {
    font-size: calc(var(--fz-lg-2) * var(--rem));
    inset-inline-start: -3%;
    inset-block-start: 4%;
    -webkit-margin-start: 0;
            margin-inline-start: 0;
  }
}
.p-benefits__detail:nth-child(2) .p-benefits__detail-text-vertical {
  inset-inline-start: 1%;
  inset-block-start: 16%;
}
@container detail-container (min-width: 430px) {
  .p-benefits__detail:nth-child(2) .p-benefits__detail-text-vertical {
    font-size: calc(var(--fz-lg-2) * var(--rem));
    inset-inline-start: -1%;
    inset-block-start: 4%;
  }
}
.p-benefits__detail-button {
  position: absolute;
  inset-block-start: 47%;
  inset-inline-end: 17%;
  -webkit-margin-before: clamp(0rem, -5.316rem + 22.68vw, 1.375rem);
          margin-block-start: clamp(0rem, -5.316rem + 22.68vw, 1.375rem);
}
@container detail-container (min-width: 430px) {
  .p-benefits__detail-button {
    --circle-button-width: 58;
    inset-block-start: 59%;
    inset-inline-end: 4%;
    -webkit-margin-before: 0;
            margin-block-start: 0;
  }
}

/* blog
--------------------------- */
.p-blog {
  --article-width: calc(452 * var(--rem));
  --column-gap: calc(52 * var(--rem));
  background-color: var(--color-white-2);
  -webkit-margin-before: clamp(78 * var(--rem), 78 * var(--fluid-ratio-min), 107 * var(--rem));
          margin-block-start: clamp(78 * var(--rem), 78 * var(--fluid-ratio-min), 107 * var(--rem));
  position: relative;
  container: blog-container/inline-size;
}
.p-blog__title-wrap {
  max-inline-size: calc(var(--article-width) * 2 + var(--column-gap));
  margin-inline: auto;
}
@container blog-container (min-width: 1052px) {
  .p-blog__title-wrap {
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.p-blog__title {
  position: relative;
}
@container blog-container (min-width: 1052px) {
  .p-blog__title-en {
    -webkit-margin-start: min(-47 * var(--rem), -3.2638888889cqi);
            margin-inline-start: min(-47 * var(--rem), -3.2638888889cqi);
  }
}
.p-blog__title-ja {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: transLateY(-50%);
          transform: transLateY(-50%);
}
.p-blog__view-more_pc {
  display: none;
}
@container blog-container (min-width: 1052px) {
  .p-blog__view-more_pc {
    display: inline-block;
    justify-self: end;
    -webkit-margin-end: min(20 * var(--rem), 20 * var(--fluid-ratio-max));
            margin-inline-end: min(20 * var(--rem), 20 * var(--fluid-ratio-max));
  }
}
.p-blog__description {
  max-inline-size: calc(var(--article-width) * 2 + var(--column-gap));
  margin-inline: auto;
}
.p-blog__article {
  max-inline-size: calc(var(--article-width) * 2 + var(--column-gap));
  margin-inline: auto;
  -webkit-margin-before: clamp(43 * var(--rem), 43 * var(--fluid-ratio-min), 60 * var(--rem));
          margin-block-start: clamp(43 * var(--rem), 43 * var(--fluid-ratio-min), 60 * var(--rem));
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--article-width), 100%), 1fr));
  row-gap: clamp(9 * var(--rem), 9 * var(--fluid-ratio-min), 23 * var(--rem));
  -webkit-column-gap: var(--column-gap);
     -moz-column-gap: var(--column-gap);
          column-gap: var(--column-gap);
}
.p-blog__detail {
  display: contents;
}
.p-blog__detail-link {
  display: grid;
  grid-template-columns: auto 1fr;
}
.p-blog__detail-contents {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: auto 1fr auto;
  grid-row: span 3;
  -webkit-padding-before: clamp(9 * var(--rem), 2.4cqi, 20 * var(--rem));
          padding-block-start: clamp(9 * var(--rem), 2.4cqi, 20 * var(--rem));
  -webkit-padding-end: clamp(7 * var(--rem), 1.8666666667cqi, 23 * var(--rem));
          padding-inline-end: clamp(7 * var(--rem), 1.8666666667cqi, 23 * var(--rem));
  -webkit-padding-after: clamp(5 * var(--rem), 1.3333333333cqi, 20 * var(--rem));
          padding-block-end: clamp(5 * var(--rem), 1.3333333333cqi, 20 * var(--rem));
  -webkit-padding-start: clamp(18 * var(--rem), 4.8cqi, 23 * var(--rem));
          padding-inline-start: clamp(18 * var(--rem), 4.8cqi, 23 * var(--rem));
  background-color: var(--color-white-1);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.p-blog__detail-contents > dl {
  display: contents;
}
.p-blog__detail-title {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-size: clamp(0.875rem, 0.787rem + 0.376vw, 1.125rem);
  -ms-flex-item-align: center;
      align-self: center;
}
.p-blog__detail-category {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: clamp(0.75rem, 0.706rem + 0.188vw, 0.875rem);
  font-weight: var(--fz-wt-bold);
}
.p-blog__detail-category > dd {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: calc(4 * var(--rem));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-blog__detail-category > dd::before {
  content: "";
  display: inline-block;
  background: url(../img/top/icon_category.png) center no-repeat;
  background-size: contain;
  inline-size: calc(12 * var(--rem));
  aspect-ratio: 12/14;
}
.p-blog__detail-date {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.p-blog__detail-date > dd > time {
  font-size: calc(var(--fz-sm-2) * var(--rem));
}
.p-blog__detail-img {
  inline-size: clamp(121 * var(--rem), 32.2666666667cqi, 156 * var(--rem));
  block-size: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  grid-row: 1/4;
}
.p-blog__view-more_sp {
  -webkit-margin-before: max(52 * var(--rem), 66 * var(--rem));
          margin-block-start: max(52 * var(--rem), 66 * var(--rem));
}
@container blog-container (min-width: 1052px) {
  .p-blog__view-more_sp {
    display: none;
  }
}
.p-blog__view-more-link {
  display: inline grid;
  grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(13 * var(--rem));
}
.p-blog__view-more-text {
  font-family: var(--ft-fml-2);
}

/* recruitment
--------------------------- */
.p-recruitment {
  background-color: var(--color-white-2);
  -webkit-padding-before: clamp(66 * var(--rem), 66 * var(--fluid-ratio-min), 125 * var(--rem));
          padding-block-start: clamp(66 * var(--rem), 66 * var(--fluid-ratio-min), 125 * var(--rem));
  -webkit-padding-after: clamp(88 * var(--rem), 88 * var(--fluid-ratio-min), 139 * var(--rem));
          padding-block-end: clamp(88 * var(--rem), 88 * var(--fluid-ratio-min), 139 * var(--rem));
  container: recruitment-container/inline-size;
}
.p-recruitment__title {
  position: relative;
}
@container recruitment-container (min-width: 768px) {
  .p-recruitment__title {
    text-align: center;
  }
}
.p-recruitment__title-en {
  white-space: nowrap;
}
.p-recruitment__title-ja {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: transLateY(-50%);
          transform: transLateY(-50%);
}
@container recruitment-container (min-width: 768px) {
  .p-recruitment__title-ja {
    right: 0;
  }
}
@container recruitment-container (min-width: 768px) {
  .p-recruitment__description {
    text-align: center;
  }
}
.p-recruitment__list {
  --max-width: calc(956 * var(--rem));
  max-inline-size: var(--max-width);
  margin-inline: auto;
  -webkit-margin-before: clamp(28 * var(--rem), 28 * var(--fluid-ratio-min), 63 * var(--rem));
          margin-block-start: clamp(28 * var(--rem), 28 * var(--fluid-ratio-min), 63 * var(--rem));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: calc(16 * var(--rem));
     -moz-column-gap: calc(16 * var(--rem));
          column-gap: calc(16 * var(--rem));
  row-gap: clamp(19 * var(--rem), 19 * var(--fluid-ratio-min), 22 * var(--rem));
}
.p-recruitment__item {
  --item-base-width: calc(341 * var(--rem));
  display: inline grid;
  grid-template-columns: 1fr auto 1fr;
  -webkit-column-gap: calc(8 * var(--rem));
     -moz-column-gap: calc(8 * var(--rem));
          column-gap: calc(8 * var(--rem));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: var(--item-base-width);
      flex-basis: var(--item-base-width);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: clamp(33 * var(--rem), 8.8cqi, 55 * var(--rem));
  background-color: var(--color-white-1);
  font-size: var(--fz-lg-1);
  font-weight: var(--fz-wt-bold);
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.p-recruitment__item::after {
  content: "";
  justify-self: end;
  inline-size: calc(12 * var(--rem));
  aspect-ratio: 1;
  -webkit-border-before: 3px solid var(--color-black);
          border-block-start: 3px solid var(--color-black);
  -webkit-border-end: 3px solid var(--color-black);
          border-inline-end: 3px solid var(--color-black);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.p-recruitment__item::before {
  content: "";
}
.p-recruitment__item:hover {
  color: var(--color-white-1);
  background-color: var(--color-black);
}
.p-recruitment__item:hover::after {
  -webkit-border-before: 3px solid var(--color-white-1);
          border-block-start: 3px solid var(--color-white-1);
  -webkit-border-end: 3px solid var(--color-white-1);
          border-inline-end: 3px solid var(--color-white-1);
}
@container recruitment-container (min-width: 768px) {
  .p-recruitment__item {
    padding-inline: calc(20 * var(--rem));
  }
}

/* cta
--------------------------- */
.p-cta {
  background-color: var(--color-white-2);
  background: url(../img/top/cta_sp.png) center no-repeat;
  background-size: cover;
  inline-size: 100%;
  aspect-ratio: 375/250;
  max-block-size: calc(488 * var(--rem));
  position: relative;
  container: cta-container/inline-size;
}
@media (min-width: 1052px) {
  .p-cta {
    background: url(../img/top/cta_pc.png) center no-repeat;
    background-size: cover;
    aspect-ratio: 1440/488;
  }
}
.p-cta__contents {
  margin-inline: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 54%;
  inline-size: clamp(343 * var(--rem), 91.4666666667cqi, 956 * var(--rem));
  -webkit-padding-before: clamp(24 * var(--rem), 6.4cqi, 50 * var(--rem));
          padding-block-start: clamp(24 * var(--rem), 6.4cqi, 50 * var(--rem));
  -webkit-padding-after: clamp(29 * var(--rem), 7.7333333333cqi, 50 * var(--rem));
          padding-block-end: clamp(29 * var(--rem), 7.7333333333cqi, 50 * var(--rem));
  padding-inline: clamp(24 * var(--rem), 6.4cqi, 200 * var(--rem));
  background-color: var(--color-white-1);
  border-radius: 20px;
  text-align: center;
}
@container cta-container (min-width: 1052px) {
  .p-cta__contents {
    top: 72%;
  }
}
.p-cta__message {
  font-size: clamp(0.875rem, 0.831rem + 0.188vw, 1rem);
  font-weight: var(--fz-wt-bold);
  line-height: var(--line-ht-lg);
}
@container cta-container (min-width: 1052px) {
  .p-cta__message {
    line-height: unset;
  }
}
.p-cta__entry {
  -webkit-margin-before: clamp(24 * var(--rem), 24 * var(--fluid-ratio-min), 31 * var(--rem));
          margin-block-start: clamp(24 * var(--rem), 24 * var(--fluid-ratio-min), 31 * var(--rem));
}
.p-cta__entry-link {
  inline-size: clamp(200 * var(--rem), 53.3333333333cqi, 556 * var(--rem));
}

/*--------------------------------*
* utility
*--------------------------------*/
/* utility
--------------------------- */
/* position
--------------------------- */
.u-position-left {
  -o-object-position: 62% center;
     object-position: 62% center;
}

/* border-bottom
--------------------------- */
.u-border-bottom {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
}

/* br
--------------------------- */
.u-blog__description_pc-only {
  display: none;
}
@container blog-container (min-width: 1052px) {
  .u-blog__description_pc-only {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */