/* ------------------------------------------------------
// Top page
*/
.p-blog {
  /* Blog */
  --article-width: calc(452 * var(--rem));
  --column-gap: calc(52 * var(--rem));
  --outside-space-max: 103;
  --outside-space-min: 78;
  background-color: var(--color-white-2);
  margin-block-start: clamp(
    calc(var(--outside-space-min) * var(--rem)),
    calc(var(--outside-space-min) * var(--ratio-dvi-min)),
    calc(var(--outside-space-max) * var(--rem))
  );
  padding-block-start: calc(54 * var(--rem));
  position: relative;
  &__container {
    --container-size: 956;
    inline-size: min(
      calc(100% - var(--spacing-gutter) * 2),
      calc(var(--container-size) * var(--rem))
    );
    margin-inline: auto;
    container: blog / inline-size;
  }
  &__title-wrap {
    max-inline-size: calc((var(--article-width) * 2) + var(--column-gap));
    margin-inline: auto;
    @container blog (min-width: 956px) {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
    }
  }
  &__title {
    position: relative;
    z-index: var(--z-index-base);
  }
  &__title-en {
    margin-block: var(--leading-trim);
    @container blog (min-width: 956px) {
      --outside-space: -47;
      margin-inline-start: max(
        calc(var(--outside-space) * var(--rem)),
        calc(var(--outside-space) * var(--ratio-dvi-max))
      );
    }
  }
  &__title-ja {
    position: absolute;
    left: 0;
    top: 50%;
    transform: transLateY(-50%);
  }
  &__view-more_pc {
    display: none;
    @container blog (min-width: 956px) {
      --outside-space: 20;
      display: inline-block;
      justify-self: end;
      margin-inline-end: min(
        calc(var(--outside-space) * var(--rem)),
        calc(var(--outside-space) * var(--ratio-dvi-max))
      );
    }
  }
  &__description {
    --outside-space-max: 24;
    --outside-space-min: 19;
    max-inline-size: calc((var(--article-width) * 2) + var(--column-gap));
    margin-inline: auto;
    margin-block-start: clamp(
      calc(var(--outside-space-min) * var(--rem)),
      calc(var(--outside-space-min) * var(--ratio-dvi-min)),
      calc(var(--outside-space-max) * var(--rem))
    );
  }
  &__article {
    --outside-space-max: 60;
    --outside-space-min: 43;
    --row-gap-max: 23;
    --row-gap-min: 9;
    max-inline-size: calc((var(--article-width) * 2) + var(--column-gap));
    margin-inline: auto;
    margin-block-start: clamp(
      calc(var(--outside-space-min) * var(--rem)),
      calc(var(--outside-space-min) * var(--ratio-dvi-min)),
      calc(var(--outside-space-max) * var(--rem))
    );
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--article-width), 100%), 1fr)
    );
    row-gap: clamp(
      calc(var(--row-gap-min) * var(--rem)),
      calc(var(--row-gap-min) * var(--ratio-dvi-min)),
      calc(var(--row-gap-max) * var(--rem))
    );
    column-gap: var(--column-gap);
  }
  &__article-contents {
    background-color: var(--color-white-1);
  }
  &__view-more :where(:any-link) {
    scale: var(--is-hover-true, 1.1);
    transition: scale 0.3s;
  }
  &__view-more_sp {
    --margin-block-start-max: 66;
    --margin-block-start-min: 52;
    margin-block-start: min(
      calc(var(--margin-block-start-min) * var(--rem)),
      calc(var(--margin-block-start-min) * var(--ratio-dvi-min))
    );
    
    @container blog (min-width: 956px) {
      display: none;
    }
  }
  &__view-more-link {
    display: inline grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: calc(13 * var(--rem));
  }
  &__view-more-button {
    @media (any-hover: hover) {
      &:any-link:hover {
        scale: -1.1 1.1;
      }
    }
  }
  &__view-more-text {
    font-family: var(--ft-fml-2);
  }
}
