/* employee
--------------------------- */
.p-employee {
  --inside-space-max: 120;
  --inside-space-min: 70;
  padding-block-start: clamp(
    calc(var(--inside-space-min) * var(--rem)),
    calc(var(--inside-space-min) * var(--ratio-dvi-min)),
    calc(var(--inside-space-max) * var(--rem))
  );
  position: relative;
  &__container {
    max-inline-size: calc(var(--layout-width-max) * var(--rem));
    margin-inline: auto;
    container: employee / inline-size;
  }
  &__title {
    position: relative;
  }
  &__title-en {
    --inside-space-max: 76;
    --inside-space-min: 17;
    padding-inline-start: clamp(
      calc(var(--inside-space-min) * var(--rem)),
      calc(var(--inside-space-min) * var(--ratio-dvi-min)),
      calc(var(--inside-space-max) * var(--rem))
    );
  }
  &__title-ja {
    --inside-space-max: 242;
    --inside-space-min: 17;
    position: absolute;
    left: 0;
    top: 50%;
    transform: transLateY(-50%);
    padding-inline-start: clamp(
      calc(var(--inside-space-min) * var(--rem)),
      calc(var(--inside-space-min) * var(--ratio-dvi-min)),
      calc(var(--inside-space-max) * var(--rem))
    );
    @container employee (min-width: 768px) {
      --inside-space-max: 242;
      padding-inline-start: min(
        calc(var(--inside-space-max) * var(--rem)),
        calc(var(--inside-space-max) * var(--ratio-dvi-max))
      );
    }
  }
  &__description {
    --inside-space-min: 17;
    padding-inline: max(
      calc(var(--inside-space-min) * var(--rem)),
      calc(var(--inside-space-min) * var(--ratio-dvi-min))
    );
    @container employee (min-width: 768px) {
      --inside-space-max: 242;
      padding-inline-start: min(
        calc(var(--inside-space-max) * var(--rem)),
        calc(var(--inside-space-max) * var(--ratio-dvi-max))
      );
    }
  }
  &__article {
    --element-size: 741;
    --outside-space-block-start: 50;
    --outside-space-inline-start: 26;
    inline-size: calc(var(--element-size) * var(--rem));
    margin-block-start: calc(var(--outside-space-block-start) * var(--rem));
    margin-inline-start: calc(var(--outside-space-inline-start) * var(--rem));
    @container employee (min-width: 768px) {
      --element-size: 1198;
      --outside-space-inline-start: 242;
    }
  }
  & .swiper.p-employee__slide {
    max-inline-size: calc((var(--layout-width-max) - 242) * 1px);
  }
  & .swiper-wrapper.p-employee__slide-wrap {
    transition-timing-function: ease-out;
  }
  &__slide-item :where(:any-link) {
    & .p-employee__img {
      scale: var(--is-hover-true, 1.1);
      transition: scale 0.3s var(--ease-out-expo);
    }
  }
  &__slide_down {
    --outside-space-max: 36;
    --outside-space-min: 25;
    margin-block: clamp(
      calc(var(--outside-space-min) * var(--rem)),
      calc(var(--outside-space-min) * var(--ratio-dvi-min)),
      calc(var(--outside-space-max) * var(--rem))
    );
  }
  &__slide-link {
    display: grid;
    position: relative;
  }
  &__name {
    --outside-space-max: 16;
    --outside-space-min: 14;
    order: 4;
    font-weight: var(--ft-wt-bold);
    font-size: clamp(1.25rem, calc(1.162rem + 0.376vw), 1.5rem);
    margin-block-start: clamp(
      calc(var(--outside-space-min) * var(--rem)),
      calc(var(--outside-space-min) * var(--ratio-dvi-min)),
      calc(var(--outside-space-max) * var(--rem))
    );
  }
  &__data {
    --outside-space-max: 34;
    --outside-space-min: 30;
    order: 3;
    font-weight: var(--ft-wt-bold);
    font-size: clamp(0.75rem, calc(0.662rem + 0.376vw), 1rem);
    margin-block-start: clamp(
      calc(var(--outside-space-min) * var(--rem)),
      calc(var(--outside-space-min) * var(--ratio-dvi-min)),
      calc(var(--outside-space-max) * var(--rem))
    );
  }
  &__message {
    order: 2;
    font-weight: var(--ft-wt-bold);
    font-size: clamp(1rem, calc(0.912rem + 0.376vw), 1.25rem);
    position: absolute;
    bottom: 17%;
    z-index: var(--z-index-base);
    & > span {
      background-color: var(--color-sub);
      display: block;
      padding: calc(4 * var(--rem));
      inline-size: max-content;
    }
    & > span + span {
      margin-block-start: calc(6 * var(--rem));
    }
  }
  &__img-wrap {
    overflow: hidden;
    border-radius: 30px;
  }
  &__img {
    --slide-img-width: 246;
    --slide-img-height: 311;
    --slide-img-width-pc: 300;
    --slide-img-height-pc: 379;
    order: 1;
    aspect-ratio: var(--slide-img-width) / var(--slide-img-height);
    @container employee (min-width: 768px) {
      aspect-ratio: var(--slide-img-width-pc) / var(--slide-img-height-pc);
      max-inline-size: calc(300 * var(--rem));
    }
  }
  &__button-wrap {
    --outside-space-max: 80;
    --outside-space-min: 64;
    margin-block-start: clamp(
      calc(var(--outside-space-min) * var(--rem)),
      calc(var(--outside-space-min) * var(--ratio-dvi-min)),
      calc(var(--outside-space-max) * var(--rem))
    );
    position: relative;
    @container employee (max-width: 767px) {
      margin-inline: auto;
      gap: 0;
      padding: 0;
    }
    @container employee (max-width: 1024px) {
      margin-inline-start: auto;
    }
  }
  &__view-more {
    text-align: center;
  }
  &__slide-button-wrap {
    --inset-space-block-min: 0;
    --inset-space-inline-end-max: 227;
    display: grid;
    grid-auto-flow: column;
    inline-size: max-content;
    block-size: max-content;
    align-items: center;
    gap: calc(20 * var(--rem));
    position: absolute;
    margin-block: auto;
    z-index: var(--z-index-base);
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-end: min(
      calc(var(--inset-space-inline-end-max) * var(--rem)),
      calc(var(--inset-space-inline-end-max) * var(--ratio-dvi-max))
    );
    @container employee (max-width: 1051px) {
      display: none;
    }
  }
}
