/* blog
--------------------------- */
.c-blog__article {
  display: contents;
  
  & :where(:any-link) {
    scale: var(--is-hover-true, 1.1);
    transition: scale 0.3s var(--ease-out-expo);
  }
  &-link {
    display: grid;
    grid-template-columns: auto 1fr;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  &-contents {
    --padding-block-start-max: 20;
    --padding-block-start-min: 9;
    --padding-block-end-max: 20;
    --padding-block-end-min: 5;
    --padding-inline-start-max: 23;
    --padding-inline-start-min: 18;
    --padding-inline-end-max: 23;
    --padding-inline-end-min: 7;
    order: 2;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto 1fr auto;
    grid-row: span 3;
    padding-block-start: clamp(
      calc(var(--padding-block-start-min) * var(--rem)),
      calc(var(--padding-block-start-min) * var(--ratio-dvi-min)),
      calc(var(--padding-block-start-max) * var(--rem))
    );
    padding-block-end: clamp(
      calc(var(--padding-block-end-min) * var(--rem)),
      calc(var(--padding-block-end-min) * var(--ratio-dvi-min)),
      calc(var(--padding-block-end-max) * var(--rem))
    );
    padding-inline-end: clamp(
      calc(var(--padding-inline-end-min) * var(--rem)),
      calc(var(--padding-inline-end-min) * var(--ratio-dvi-min)),
      calc(var(--padding-inline-end-max) * var(--rem))
    );
    padding-inline-start: clamp(
      calc(var(--padding-inline-start-min) * var(--rem)),
      calc(var(--padding-inline-start-min) * var(--ratio-dvi-min)),
      calc(var(--padding-inline-start-max) * var(--rem))
    );
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  &-contents > dl {
    display: contents;
  }
  &-title {
    order: 2;
    font-size: clamp(0.875rem, calc(0.787rem + 0.376vw), 1.125rem);
    align-self: center;
  }
  &-category {
    order: 1;
    font-size: clamp(0.75rem, calc(0.706rem + 0.188vw), 0.875rem);
    font-weight: var(--ft-wt-bold);
  }
  &-category > dd {
    display: block flow-root;
    &::before {
      --icon-width: 14;
      content: "";
      float: inline-start;
      background: url(../img/commonness/icon_category.png) center no-repeat;
      background-size: contain;
      inline-size: calc(var(--icon-width) * var(--rem));
      block-size: 1lh;
      margin-inline-end: calc(4em / 14);
    }
  }
  &-date {
    order: 3;
  }
  &-date > dd > time {
    font-size: calc(var(--fz-sm-2) * var(--rem));
  }
  &-img {
    --img-width-max: 156;
    --img-width-min: 121;
    --img-height-max: 180;
    inline-size: clamp(
      calc(var(--img-width-min) * var(--rem)),
      (calc(var(--img-width-min) * var(--ratio-dvi-min))),
      calc(var(--img-width-max) * var(--rem))
    );
    block-size: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    order: 1;
    grid-row: 1 / 4;
    aspect-ratio: var(--img-width-max) / var(--img-height-max);
  }
}