/* button
------------------------------------ */
/* view-more
------------------------------------ */
.c-button__view-more {
  --element-size-inline-max: 355;
  --element-size-inline-min: 277;
  --element-size-block-max: 80;
  --element-size-block-min: 62;
  --inside-space-inline-max: 20;
  --inside-space-inline-min: 17;
  font-family: var(--ft-fml-2);
  font-size: clamp(1rem, calc(0.912rem + 0.376vw), 1.25rem);
  line-height: normal;
  display: inline grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: calc(8 * var(--rem));
  align-items: center;
  inline-size: clamp(
    calc(var(--element-size-inline-min) * var(--rem)),
    calc(var(--element-size-inline-min) * var(--ratio-dvi-min)),
    calc(var(--element-size-inline-max) * var(--rem))
  );
  block-size: clamp(
    calc(var(--element-size-block-min) * var(--rem)),
    calc(var(--element-size-block-min) * var(--ratio-dvi-min)),
    calc(var(--element-size-block-max) * var(--rem))
  );
  padding-inline: clamp(
    calc(var(--inside-space-inline-min) * var(--rem)),
    calc(var(--inside-space-inline-min) * var(--ratio-dvi-min)),
    calc(var(--inside-space-inline-max) * var(--rem))
  );
  border: solid 1px var(--color-black);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  &::after {
    content: "";
    justify-self: end;
    inline-size: calc(7 * var(--rem));
    aspect-ratio: 1;
    border-block-start: 2px solid var(--color-black);
    border-inline-end: 2px solid var(--color-black);
    transform: rotate(45deg);
    transition: border 0.3s;
  }
  &::before {
    content: "";
  }
  @media (any-hover: hover) {
    &:hover {
      color: var(--color-white-1);
      background-color: var(--color-black);
      &::after {
        border-block-start: 2px solid var(--color-white-1);
        border-inline-end: 2px solid var(--color-white-1);
      }
    }
  }
}


/* circle
------------------------------------ */
.c-button__circle {
  --circle-button-width: 58;
  display: inline grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  inline-size: calc(var(--circle-button-width) * var(--rem));
  aspect-ratio: 1;
  border: solid 1px var(--color-black);
  border-radius: 50%;
  transition: scale 0.3s;
  background-color: var(--color-white-1);
  &::before {
    content: "";
    display: inline-block;
    justify-self: end;
    inline-size: calc(10 * var(--rem));
    aspect-ratio: 1;
    border-left: solid 2px var(--color-black);
    border-bottom: solid 2px var(--color-black);
    border-radius: 0.1em;
    transform: translateX(50%) rotate(45deg);
  }
  &::after {
    content: "";
    display: inline-block;
    inline-size: calc(14 * var(--rem));
    block-size: calc(2 * var(--rem));
    background-color: var(--color-black);
    transform: translateX(-4px);
  }
  @media (any-hover: hover) {
    &:hover {
      scale: 1.2 1.2
    } 
  }
}


/* circle-right
------------------------------------ */
.c-button__circle-right {
  scale: -1 1;
  @media (any-hover: hover) {
    &:hover {
      scale: -1.2 1.2
    } 
  }
}


/* circle-black
------------------------------------ */
.c-button__circle_black {
  background-color: var(--color-black);
  &::after {
    background-color: var(--color-white-1);
  }
  &::before {
    border-left: solid 2px var(--color-white-1);
    border-bottom: solid 2px var(--color-white-1);
  }
}


/* circle-sm
------------------------------------ */
.c-button__circle_sm {
  --circle-button-width: 42;
  inline-size: calc(var(--circle-button-width) * var(--rem));
}


/* entry
------------------------------------ */
.c-button__entry {
  --inside-space-block-max: 27;
  --inside-space-block-min: 20;
  --inside-space-inline-max: 27;
  --inside-space-inline-min: 19;
  font-family: var(--ft-fml-2);
  font-size: clamp(0.875rem, calc(0.831rem + 0.188vw), 1rem);
  color: var(--color-black);
  display: inline grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: calc(8 * var(--rem));
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
  padding-block: clamp(
    calc(var(--inside-space-block-min) * var(--rem)),
    calc(var(--inside-space-block-min) * var(--ratio-dvi-min)),
    calc(var(--inside-space-block-max) * var(--rem))
  );
  padding-inline: clamp(
    calc(var(--inside-space-inline-min) * var(--rem)),
    calc(var(--inside-space-inline-min) * var(--ratio-dvi-min)),
    calc(var(--inside-space-inline-max) * var(--rem))
  );
  background-color: var(--color-sub);
  &::after {
    content: "";
    justify-self: end;
    inline-size: calc(11 * var(--rem));
    aspect-ratio: 1;
    border-block-start: 3px solid var(--color-black);
    border-inline-end: 3px solid var(--color-black);
    transform: rotate(45deg);
    transition: border 0.3s;
  }
  &::before {
    content: "";
  }
  @media (any-hover: hover) {
    &:hover {
      color: var(--color-white-1);
      background-color: var(--color-black);
      &::after {
        border-block-start: 3px solid var(--color-white-1);
        border-inline-end: 3px solid var(--color-white-1);
      }
    } 
  }
}


/* 募集事項　・　ENTRY
------------------------------------ */
.c-cta__button {
  font-size: calc(var(--fz-sm-3) * var(--rem));
  color: var(--color-white-1);
  display: inline-block;
  padding: calc(9 * var(--rem));
  text-align: center;
  border: solid 1px transparent;
}

.c-cta__button_recruiting {
  background-color: var(--color-black);
  transition: background-color 0.3s,
  color 0.3s,
  border 0.3s;
  @media (any-hover: hover) {
    &:hover {
      color: var(--color-black);
      background-color: var(--color-white-1);
      border: solid 1px var(--color-black);
    } 
  }
}

.c-cta__button_entry {
  font-family: var(--ft-fml-2);
  background-color: var(--color-sub);
  transition: background-color 0.3s;
  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-main);
    } 
  }
}


/* oblong-button
------------------------------------ */
.c-oblong-button {
  --font-size-max: var(--fz-lg-1);
  --font-size-min: var(--fz-md);
  --padding-max: 18;
  --gap-max: 49; 
  display: inline-block;
  font-size: clamp(
    calc(var(--font-size-min) * var(--rem)),
    calc(var(--font-size-max) * var(--ratio-dvi-max)),
    calc(var(--font-size-max) * var(--rem))
  );
  font-weight: var(--ft-wt-bold);
  background-color: var(--color-white-2);
  padding: calc((var(--padding-max) * 1em / var(--font-size-max)) + var(--leading-trim));
  border: solid 1px var(--color-black);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: color 0.3s, background-color 0.3s;
  @media (any-hover: hover) {
    &:hover {
      color: var(--color-white-1);
      background-color: var(--color-black);
      & :where(span) {
        background-color: var(--color-white-1);
        &::before, &::after {
          background-color: var(--color-white-1);
        }
      }
    }
  }
}

.c-oblong-button :where(span) {
  margin-inline-start: 1em;
  margin-inline-end: -1em;
  display: inline-block;
  block-size: 1em;
  inline-size: 2px;
  background-color: var(--color-black);
  position: relative;
  transition: background-color 0.3s;
  &::before, &::after {
    content: "";
    display: inline-block;
    inline-size: 0.5em;
    block-size: 2px;
    background-color: var(--color-black);
    border-radius: 0.1em;
    position: absolute;
    inset-block-end: 0;
    transition: background-color 0.3s;
  }
  &::before {
    rotate: 45deg;
    inset-inline-end: 0;
    translate: 5% -100%;
  }
  &::after {
    rotate: -45deg;
    inset-inline-start: 0;
    translate: -5% -100%;
  }
}