@use "./../../foundation/function" as *;

/* c-location
--------------------------- */
.c-lower-location {
  inline-size: stretch;
  padding-block: calc(17 * var(--rem));
  background-color: var(--color-white-3);
  font-size: calc(14 * var(--rem));
  &__container {
    --container-size: 980;
    inline-size: min(
      calc(var(--container-size) * var(--rem)),
      calc(100% - var(--spacing-gutter) * 2)
    );
    margin-inline: auto;
  }
  & .breadcrumb {
    display: flex;
    align-items: center;
  }
  & span + span::before {
    content: ">";
    display: inline-block;
    padding-inline: calc(5 * var(--rem));
    font-size: calc(12 * var(--rem));
  }
}