/* ------------------------------------------------------
// Component
*/
.c-lower-location {
  /* Location */
  inline-size: stretch;
  padding-block: calc(17 * var(--rem));
  background-color: var(--color-white-3);
  font-size: calc(14 * var(--rem));
  &__container {
    --container-size: 980;
    inline-size: min(
      calc(var(--container-size) * var(--rem)),
      calc(100% - var(--spacing-gutter) * 2)
    );
    margin-inline: auto;
  }
  & span + span::before {
    content: ">";
    display: inline-block;
    padding-inline: calc(5 * var(--rem));
    font-size: calc(12 * var(--rem));
  }
  & a {
    position: relative;
    &::before {
      position: absolute;
      inset-block-end: 0;
      inset-inline-start: 0;
      content: "";
      inline-size: 100%;
      block-size: 1px;
      background-color: transparent;
      transition: background-color 0.3s ease;
    }
    @media (any-hover: hover) {
      &:hover::before {
      background-color: oklch(from var(--color-main) calc(l - 0.2) c h);
      }
    }
  }
}