/* staff
--------------------------- */
.c-staff {
  &__article {
    display: contents;
  }
  &__article :where(:any-link) {
    & .c-staff__img {
      scale: var(--is-hover-true, 1.1);
      transition: scale 0.3s var(--ease-out-expo);
    }
  }
  &__link {
    display: grid;
    row-gap: calc(30 * var(--rem));
  }
  &__name {
    --margin-block-start-max: -20;
    order: 3;
    font-weight: var(--ft-wt-bold);
    font-size: calc(var(--fz-lg-2) * var(--rem));
    margin-block-start: calc(var(--margin-block-start-max) * var(--rem));
    margin-block-end: var(--leading-trim);
  }
  &__data {
    order: 2;
    font-weight: var(--ft-wt-bold);
    font-size: calc(var(--fz-base) * var(--rem));
    display: flex;
    flex-wrap: wrap;
    justify-items: start;
    gap: calc(9 * var(--rem));
  }
  &__date {
    flex-shrink: 1;
  }
  &__message-img-wrap {
    position: relative;
    border-radius: 30px;
    order: 1;
  }
  &__message {
    --font-size-max: var(--fz-lg-1);
    --font-size-min: var(--fz-base);
    --padding-block: calc(((1lh - 1em) / 2) / 2);
    font-weight: var(--ft-wt-bold);
    font-size: clamp(
      calc(var(--font-size-min) * var(--rem)),
      calc(var(--font-size-max) * var(--ratio-dvi-max)),
      calc(var(--font-size-max) * var(--rem))
    );
    position: absolute;
    bottom: -6%;
    z-index: var(--z-index-base);
    &  span {
      background-color: var(--color-sub);
      padding-inline: calc(7 * var(--rem));
      box-decoration-break: clone;
      padding-block: var(--padding-block);
    }
    & div + div {
      margin-block-start: calc(6 * var(--rem) + var(--padding-block));
    }
  }
  &__img-wrap {
    overflow: hidden;
    border-radius: 30px;
  }
  &__img {
    --img-width-max: 300;
    --img-height-max: 379;
    order: 1;
    inline-size: calc(var(--img-width-max) * var(--rem));
    aspect-ratio: var(--img-width-max) / var(--img-height-max);
  }
}
