/* ------------------------------------------------------
// Component
*/
.c-staff {
  /* Staff */
  &__article {
    display: contents;
  }
  &__article :where(:any-link) {
    & .c-staff__img {
      scale: var(--is-hover-true, 1.1);
      transition: scale 0.3s var(--ease-out-expo);
    }
  }
  &__link {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    row-gap: calc(30 * var(--rem));
    &:hover :where(img) {
      scale: var(--is-hover-true, 1.1);
      transition: scale 0.3s var(--ease-out-expo);
    }
  }
  &__name {
    --margin-block-start-max: -20;
    order: 3;
    font-weight: var(--ft-wt-bold);
    font-size: calc(var(--fz-lg-2) * var(--rem));
    margin-block-start: calc(var(--margin-block-start-max) * var(--rem));
    margin-block-end: var(--leading-trim);
  }
  &__data {
    --gap-max: 13;
    --gap-min: 10;
    order: 2;
    font-weight: var(--ft-wt-bold);
    font-size: calc(var(--fz-base) * var(--rem));
    display: flex;
    flex-wrap: wrap;
    justify-items: start;
    gap: clamp(10px, -0.2817vw + 14.0563px, 13px);
  }
  &__date {
    flex-shrink: 1;
  }
  &__message-img-wrap {
    position: relative;
    border-radius: 30px;
    order: 1;
  }
  &__message {
    --font-size-max: var(--fz-lg-1);
    --font-size-min: var(--fz-base);
    --gap-max: 6;
    display: grid;
    gap: calc(var(--gap-max) * var(--rem));
    font-weight: var(--ft-wt-bold);
    font-size: calc(var(--font-size-max) * var(--rem));
    position: absolute;
    bottom: -4%;
    z-index: var(--z-index-1);
    &  span {
      background-color: var(--color-sub);
      padding-inline: calc(7 * var(--rem));
      box-decoration-break: clone;
    }
    & div + div {
      margin-block-start: calc(6 * var(--rem) + var(--padding-block));
    }
  }
  &__img-wrap {
    overflow: hidden;
    border-radius: 30px;
    display: grid;
  }
  &__img-wrap img {
    --img-width-max: 300;
    --img-height-max: 379;
    order: 1;
    max-inline-size: calc(var(--img-width-max) * var(--rem));
    aspect-ratio: var(--img-width-max) / var(--img-height-max);
  }
}
