@use "./../../foundation/function" as *;


/* inner
--------------------------- */
.c-inner {
  --spacing-gutter: calc(17 * var(--fluid-ratio-min-container));
  padding-inline: var(--spacing-gutter);
  max-inline-size: calc(var(--layout-width-max) * var(--rem));
  margin-inline: auto;
}