@use "./../../foundation/function" as *;

/* inner
--------------------------- */
.c-inner {
  --inner-width-max: 1440;
  max-inline-size: calc(var(--inner-width-max) * var(--rem));
  margin-inline: auto;
}

/* lower-inner
--------------------------- */
.c-lower-inner {
  // --inner-width-max: 960;
  // max-inline-size: calc(var(--inner-width-max) * var(--rem));
  // margin-inline: auto;
}