/* section-title
--------------------------- */
.c-section-title-en {
  --section-title-col: rgb(151 151 151 / 0.1);
  font-family: var(--ft-fml-3);
  font-size: clamp(5rem, calc(3.768rem + 5.258vw), 8.5rem);
  font-weight: var(--fz-wt-base);
  color: var(--section-title-col);
}

.c-section-title-ja {
  font-size: clamp(2rem, calc(1.56rem + 1.878vw), 3.25rem);
  font-weight: var(--fz-wt-bold);
}