@use "./../../foundation/function" as *;

/* utility
--------------------------- */

/* position
--------------------------- */
.u-position-left {
  object-position: 62% center;
}

/* border-bottom
--------------------------- */
.u-border-bottom {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
}