@use "./../../foundation/function" as *;

/* utility
--------------------------- */

/* position
--------------------------- */
.u-position-left {
  object-position: 62% center;
}

/* border-bottom
--------------------------- */
.u-border-bottom {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
}

/* br
--------------------------- */
.u-blog__description_pc-only {
  display: none;
  @container blog-container (min-width: 1052px) {
    display: block;
  }
}

/* pagination current-color
--------------------------- */
.u-current-color {
  color: var(--color-white-1);
  background-color: var(--color-black);
}